@import "../../../../style/utilities";

:host /deep/ app-breadcrumb {
  ul {
    li {
      a {
        color: #c5c5c5 !important;
      }
    }
  }

}

#one-column-template{
  .larger-devices{
    display: block;
  }
  .mobile{
    display: none;
  }
  .header-image{
    max-height: 350px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    img{
      min-width: 100%;
      max-width: 100%;
      height: auto;
    }
    .header-color{
      width: 100%;
      height: 350px;
    }
    .default-header{
      width: 100%;
      height: 350px;
      background-color: $bg-color-primary;
    }
  }

  .content-container{
    @include container-size(60%);
    padding: 50px;
    background-color: $bg-color-default;
    position: relative;
    top: -150px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #888888;
    app-breadcrumb{
      position: absolute;
      top: -25px;
    }
    .article-footer {
      position: relative;
      font-size: 14px;
      border-top: 1px solid #cac8c8;
      padding: 25px 0;
      margin: 0;
      dt, dd {
        line-height: 1.42857;
      }
      dt {
        font-weight: bold;
      }
      dd {
        margin-left: 0;
        a{
          text-decoration: none;
          color: $color-link-secondary;
          &:hover {
            color: $color-link-secondary-hover;
          }
        }
      }
      dl {
        margin-top: 0;
        margin-bottom: 0;
      }
      .dl-horizontal dt {
        text-align: left;
      }
      .dl-horizontal dd {
        margin-bottom: 12px;
      }
  
    }
    .article-footer .dl-in-article-footer dt, .article-footer-news .dl-in-article-footer dt {
      width: 100px;
    }
    .content{
      margin-bottom: 50px;
    }
    h2{
      margin-top:0;
    }
    p{
      line-height: 1.3;
    }
    .title{
      font-size: $font-size-h2;
    }
    .breadcrumbs{
      position: absolute;
      top: -25px;
      color: white;
      background-color: rgba(0,0,0,0.45);
      padding: 2px;
      line-height: 1.3;
      span{
        color: #05d4ff;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .previous-post, .next-post{
    color: black;
    display: inline-block;
    position: absolute;
    bottom: 25px;
    cursor: pointer;
    .btn{
      @include circle(40px);
      border: 1px solid black;
      display: inline-block;
      text-align: center;
      i{
        @include center-vertically(50%);
        position: relative;
      }
    }
  }

  .previous-post{
    left: 15px;
  }

  .next-post{
    right: 15px;
  }
}

:host /deep/ .content-container{
  .content{
    & >h2{
      font-weight: 600;
    }
    a{
      text-decoration: none;
      color: $color-link-secondary;
      &:hover{
        color: $color-link-secondary-hover;
      }
    }
    video{
      width: 100% !important;
      height: auto !important;
    }
  }
}

:host /deep/ table{
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  td{
    border: 1px solid lightgray;
    padding: 10px;
  }
}

:host /deep/ ::-webkit-scrollbar-thumb {
  background: #a8a8a8 !important;
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #one-column-template {
    .larger-devices{
      display: none;
    }
    .mobile{
      display: block;
    }
    >app-breadcrumb{
      position: absolute;
      top: 65px;
      width: 100%;
    }
    .header-image{
      max-height: 300px;
    }
    .content-container{
      width: 90%;
      padding: 30px;
      .title{
        font-size: $font-size-h3;
      }
      .content{
        >h2{
          font-size: $font-size-h4;
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #one-column-template {
    .larger-devices{
      display: none;
    }
    .mobile{
      display: block;
    }
    >app-breadcrumb{
      position: absolute;
      top: 65px;
      width: 100%;
    }
    .header-image{
      max-height: 300px;
    }
    .content-container{
      width: 90%;
      padding: 30px;
      .title{
        font-size: $font-size-h3;
      }
      .content{
        >h2{
          font-size: $font-size-h4;
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #one-column-template {
    .larger-devices{
      display: none;
    }
    .mobile{
      display: block;
    }
    >app-breadcrumb{
      position: absolute;
      top: 65px;
      width: 100%;
    }
    .header-image{
      max-height: 300px;
    }
    .content-container{
      width: 90%;
      padding: 30px;
      .title{
        font-size: $font-size-h3;
      }
      .content{
        >h2{
          font-size: $font-size-h4;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
    .content-container {
      .article-footer {
        .dl-horizontal dt {
          float: left;
          width: 160px;
          clear: left;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 5px;
        }
      }
    }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
    .content-container {
      .article-footer {
        .dl-horizontal dt {
          float: left;
          width: 160px;
          clear: left;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 5px;
        }
      }
  }
}