<div class="header">
  <div class="default-header"></div>
</div>
<div id="content-container">
  <app-loader *ngIf="!posts"></app-loader>
  <div
    *ngFor="let article of posts"
    class="article"
    (click)="goToPage(article.slug)"
  >
    <div class="date">
      <span>{{ formatDate(article.last_modified) }}</span>
    </div>
    <h2>{{ article.title | cardText: 50 }}</h2>
    <div class="label">
      <label>{{ lang === "sv" ? "THS Nyheter" : "THS News" }}</label>
    </div>
    <p class="content" [innerHTML]="article.content | cardText: 150"></p>
  </div>
</div>
<app-loader *ngIf="fetching"></app-loader>

<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>
