<div #slides_container id="img-slider">
  <div class="slides-wrapper">
    <div class="slide">
      <div class="content-container">
        <div class="content">
          <h2>What is THS? 1</h2>
          <p>THS, which stands for Tekniska Högskolans Studentkår, is the student union at KTH and was founded in 1902.
            Back then the learning conditions for the students were quite harsh and there was no platform for the students to express their views towards KTH.</p>
        </div>
        <div class="category">FAQ New Student 1</div>
      </div>
    </div>
    <div class="slide" [ngClass]="{'item_onfocus': item_onfocus_index === i}">
      <div class="content-container">
        <div class="content">
          <h2>What is THS? 2</h2>
          <p>THS, which stands for Tekniska Högskolans Studentkår, is the student union at KTH and was founded in 1902.
            Back then the learning conditions for the students were quite harsh and there was no platform for the students to express their views towards KTH.</p>
        </div>
        <div class="category">FAQ New Student 2</div>
      </div>
    </div>
    <div class="slide">
      <div class="content-container">
        <div class="content">
          <h2>What is THS? 3</h2>
          <p>THS, which stands for Tekniska Högskolans Studentkår, is the student union at KTH and was founded in 1902.
            Back then the learning conditions for the students were quite harsh and there was no platform for the students to express their views towards KTH.</p>
        </div>
        <div class="category">FAQ New Student 3</div>
      </div>
    </div>
    <div class="slide">
      <div class="content-container">
        <div class="content">
          <h2>What is THS? 4</h2>
          <p>THS, which stands for Tekniska Högskolans Studentkår, is the student union at KTH and was founded in 1902.
            Back then the learning conditions for the students were quite harsh and there was no platform for the students to express their views towards KTH.</p>
        </div>
        <div class="category">FAQ New Student 4</div>
      </div>
    </div>
    <div class="slide">
      <div class="content-container">
        <div class="content">
          <h2>What is THS? 5</h2>
          <p>THS, which stands for Tekniska Högskolans Studentkår, is the student union at KTH and was founded in 1902.
            Back then the learning conditions for the students were quite harsh and there was no platform for the students to express their views towards KTH.</p>
        </div>
        <div class="category">FAQ New Student 5</div>
      </div>
    </div>
  </div>
</div>
<div #slider_progress_bar class="slider-progress-bar">
  <div class="bar-item"></div>
  <div class="bar-item"></div>
  <div class="bar-item"></div>
  <div class="bar-item"></div>
  <div class="bar-item"></div>
</div>
