<div #slides_container id="img-slider">
  <div class="slides-wrapper large-devices">
    <div class="slide empty">
      <div class="content-container">
        <a routerLink="{{lang}}/news" class="more-btn">{{see_more}}</a>
      </div>
    </div>
    <div *ngFor="let item of slide_items, let i = index" class="slide" [style.backgroundImage]="'url(' + item.image + ')'" (click)="switchSlide(i)" [ngClass]="{'item_onfocus': item_onfocus_index === i}">
      <div class="content-container">
        <div class="content">
          <h2 *ngIf="item.title.length <= 70">{{item.title}}</h2>
          <h2 *ngIf="item.title.length > 70">{{item.title | cardText:70}}</h2>
          <p [innerHTML]="item.content | cardText:100" class="description"></p>
        </div>
        <div class="readMoreBtn" (click)="goToPage(item, item.slug)">Read more</div>
        <div class="category">{{news_text}}</div>
      </div>
    </div>
    <div class="slide empty">
      <div class="content-container">
        <a routerLink="{{lang}}/news" class="more-btn">{{see_more}}</a>
      </div>
    </div>
  </div>
  <div class="slides-wrapper mobile" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <div class="slide empty" [ngClass]="{'item_onfocus': item_onfocus_index === -1}">
      <div class="content-container">
        <a routerLink="/news" class="more-btn">{{see_more}}</a>
      </div>
    </div>
    <div *ngFor="let item of slide_items, let i = index" class="slide" [style.backgroundImage]="'url(' + item.image + ')'" [ngClass]="{'item_onfocus': item_onfocus_index === i}">
      <div class="content-container">
        <div class="content">
          <h2>{{item.title | cardText:50}}</h2>
          <p [innerHTML]="item.content | cardText:100" class="description"></p>
        </div>
        <div class="category">{{news_text}}</div>
      </div>
    </div>
    <div class="slide empty" [ngClass]="{'item_onfocus': item_onfocus_index === 5}">
      <div class="content-container">
        <a routerLink="/news" class="more-btn">{{see_more}}</a>
      </div>
    </div>
  </div>
</div>
<div #slider_progress_bar class="slider-progress-bar">
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 0}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 1}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 2}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 3}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 4}"></div>
</div>
