@import "../../../style/utilities";

.large-devices {
  display: block;
}
.mobile {
  display: none;
}
#img-slider {
  text-align: center;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  height: 400px;
  color: white;
  .slides-wrapper {
    display: inline-block;
    transition: margin 0.5s ease;
    border-radius: 15px;
    width: 223%;
    height: 100%;
    margin-left: -31.65%;
    .slide {
      width: 11.3%;
      height: 84%;
      border-radius: inherit;
      display: inline-block;
      margin: 0 1%;
      background-size: cover;
      background-position: center;
      vertical-align: top;
      box-shadow: 0 1px 3px #b2b2b2;
      float: left;
      opacity: 0.25;
      margin-top: 20px;
      cursor: pointer;
      .content-container {
        background-color: rgba(0, 0, 0, 0.27);
        width: 100%;
        height: 100%;
        border-radius: 15px;
        position: relative;
        .content {
          transform: scale(1);
          transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
            opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
            filter 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
          padding: 20px;
          bottom: 0;
          position: absolute;
          overflow: hidden;
          padding: 20px;
          height: 180px;
          > h2 {
            margin-bottom: 0;
            text-align: left;
          }
          > h3 {
            margin: 10px 0px;
            text-align: left;
          }
          > h5 {
            margin: 10px 0px;
            text-align: left;
            color: white;
          }
          p {
            font-size: $font-size-default;
            text-align: justify;
            display: none;
          }
        }
        .readMoreBtn {
          padding: 10px 20px;
          border: 1px solid white;
          display: inline-block;
          border-radius: 25px;
          cursor: pointer;
          display: none;
        }
        .category {
          display: inline-block;
          position: absolute;
          right: 0;
          padding: 5px 10px;
          bottom: 5px;
          .card-btn {
            background: 0;
            border: none;
            margin: 0px;
            color: white;
            right: 0;
            i {
              font-size: 2em;
            }
          }
        }
        .more-btn {
          padding: 10px 20px;
          border: 1px solid gray;
          border-radius: 25px;
          text-decoration: none;
          opacity: 1;
          color: gray;
          @include center-content(50%, 50%);
        }
      }
    }
    .item_onfocus {
      width: 18%;
      height: 95%;
      opacity: 1;
      margin-top: 0;
      transition: width 0.5s ease;

      h2 {
        font-size: $font-size-h2;
        margin-top: 0;
        text-align: left;
      }
      p {
        display: block !important;
      }
      .readMoreBtn {
        display: inline-block !important;
      }
    }
    .empty {
      opacity: 1;
      cursor: default;
      .content-container {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
.slider-progress-bar {
  padding: 15px 0;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  .bar-item {
    @include circle(17px);
    display: inline-block;
    margin: 0 20px;
    background-color: lightgrey;
    cursor: pointer;
  }
  .selected {
    background-color: gray;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .large-devices {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  #img-slider {
    .slides-wrapper {
      padding-top: 20px;
      width: 700%;
      margin-left: -165%;
      transition: margin 0.1s ease;
      .slide {
        margin: 0 0.5%;
        opacity: 1;
        .content-container {
          &:hover {
            .content {
              transform: scale(1);
              height: 100px;
              padding: 20px;
            }
          }
          .content {
            bottom: 10px;
            width: 80%;
            height: 100px;
            padding: 20px;
            p {
              display: block !important;
            }
            > h5 {
              margin: 0;
            }
            > h3 {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .large-devices {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  #img-slider {
    .slides-wrapper {
      width: 700%;
      margin-left: -165%;
      transition: margin 0.1s ease;
      .slide {
        margin: 0 0.5%;
        opacity: 1;
        .content-container {
          .content {
            p {
              display: block !important;
            }
          }
        }
      }
    }
  }
  /*#img-slider {
    .slides-wrapper{
      .slide{
        .content-container{
          .content{
            h2{
              margin-top: 0;
              text-align: left;
            }
          }
        }
      }
    }
  }*/
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .large-devices {
    display: block !important;
  }
  .mobile {
    display: none !important;
  }
  #img-slider {
    height: 310px;
    text-align: left;
    .slides-wrapper {
      .slide {
        .content-container {
          .content {
            h2 {
              word-wrap: break-word;
              font-size: $font-size-h5;
            }
            p {
              display: block !important;
            }
          }
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #img-slider {
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
}
