<div #slides_container id="img-slider">
  <div class="slides-wrapper">
    <div class="slide empty">
      <div class="content-container">
        <a routerLink="/news" class="more-btn">See more</a>
      </div>
    </div>
    <div *ngFor="let item of slide_items, let i = index" class="slide" [style.backgroundImage]="'url(' + item.image + ')'" (click)="switchSlide(i)" [ngClass]="{'item_onfocus': item_onfocus_index === i}">
      <div class="content-container">
        <div class="content">
          <h2>{{item.title}}</h2>
          <p [innerHTML]="item.content | cardText:100"></p>
        </div>
        <div class="category">THS Nyheter</div>
      </div>
    </div>
    <div class="slide empty">
      <div class="content-container">
        <a routerLink="/news" class="more-btn">See more</a>
      </div>
    </div>
  </div>
</div>
<div #slider_progress_bar class="slider-progress-bar">
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 0}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 1}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 2}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 3}"></div>
  <div class="bar-item" [ngClass]="{'selected': item_onfocus_index === 4}"></div>
</div>
