@import "../../../../style/utilities";

#navbar-sections {
  position: absolute;
  right: 0;
  top: -15px;

  a{
    display: inline-block;
    margin: 0 5px;
    img {
      @include square(35px);
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #navbar-sections {

  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #navbar-sections {

  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #navbar-sections {

  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #navbar-sections {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}