@import "../../../../style/variables";
@import "../../../../style/mixins";

#navbar-sections {
  position: absolute;
  right: 0;
  top: -15px;

  a{
    display: inline-block;
    margin: 0 5px;
    img {
      @include square(35px);
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
    }
  }
}