<div id="select-slider">
  <div #slider class="slider">
    <div class="item" [ngClass]="{'selected': item_onfocus_index === 0}">
      Company
    </div>
    <div class="item" [ngClass]="{'selected': item_onfocus_index === 1}">
      Student
    </div>
    <div class="item" [ngClass]="{'selected': item_onfocus_index === 2}">
      International
    </div>
    <div class="item" [ngClass]="{'selected': item_onfocus_index === 3}">
      Industry
    </div>
    <div class="item" [ngClass]="{'selected': item_onfocus_index === 4}">
      Other
    </div>
  </div>
</div>
