@import "../../../style/utilities";

#select-slider{
  width: 100%;
  height: 100vh;
  background-color: rgba(239, 239, 239, 0.85);
  position: relative;
  z-index: 1;
  .slider-wrapper{
    @include center-vertically(50%);
    width: 100%;
    .slider{
      //border: 1px solid blue;
      font-size: $font-size-h2;
      font-weight: $font-weight-bold;
      width: 90%;
      margin: 0 5%;
      text-align: center;
      color: #a0a0a0;
      height: 300px;
      overflow-y: scroll;
      padding: 120px 0;
      position: relative;
      -webkit-overflow-scrolling: touch;
      .item{
        //border: 1px solid green;
        padding: 10px;
        position: relative;
      }
      .selected{
        color: #4a4a4a;
        text-decoration: underline;
        position: relative;
      }
    }
    .btn-wrapper{
      text-align: center;
      margin-top: 50px;
      .exit-popup-btn{
        background-color: black;
        color: white;
        cursor: pointer;
        z-index: 1;
        border: 1px solid gray;
        border-radius: 25px;
        padding: 10px 35px;
        display: inline-block;
      }
    }
  }
}

::-webkit-scrollbar
{
  width: 2px;  /* for vertical scrollbars */
  height: 2px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(84, 84, 84, 0.2);
}

::-webkit-scrollbar-thumb
{
  background: #6f6f6f;
  border-radius: 10px;
}