<div id="content-container">
  <div *ngIf="page" id="page">
    <div class="heading">
      <div class="title">
        <h2>{{page.name}}</h2>
        <span *ngIf="page.name === 'Contact'">You'll find many ways to contact us right here.</span>
      </div>
    </div>
<!--    <div class="side-bar">
      <div class="submenu">
        <div *ngFor="let m of subMenu, let i = index" (click)="goToPage(m.slug)" class="submenu-item">
          <span>{{m.title}}</span>
        </div>
      </div>
    </div>-->
    <div class="content-container">
      <app-chatbot></app-chatbot>
<!--      <div class="content" [innerHTML]="page.content"></div>-->
      <div class="divider"></div>
      <div class="submenu-bar">
        <div *ngFor="let m of subMenu, let i = index" (click)="goToPage(m.slug)" class="submenu-item">
          <span>{{m.title}}</span>
        </div>
      </div>
      <div class="divider"></div>
      <app-contact-form *ngIf="page.name === 'Contact'"></app-contact-form>
    </div>
  </div>
</div>