@import "../../../../style/utilities";
.header {
  max-height: 350px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .default-header {
    width: 100%;
    height: 270px;
    background-color: $bg-color-primary;
  }
}
#content-container {
  @include container-size($main-container);
  padding-top: 100px;
  position: relative;
  margin-bottom: 50px;
  line-height: 1;
  max-width: 1600px;
  margin: 0 auto;
  background: white;
  top: -150px;
  border-radius: 15px;
  padding: 50px;
  #page {
    .heading {
      position: relative;
      margin-bottom: 40px;
      & > div {
        display: inline-block;
      }
      .title {
        width: 65%;
        h2 {
          font-size: $font-size-h2;
          margin: 0 0 10px;
        }
        span {
          color: gray;
          font-size: $font-size-h4;
        }
      }
    }

    .side-bar {
      width: 25%;
      display: inline-block;
      text-align: left;
      .submenu {
        .submenu-item {
          padding: 15px 5px;
          position: relative;
          font-weight: 600;
          cursor: pointer;
          border-bottom: 1px solid lightgrey;
          a {
            text-decoration: none;
            color: $text-color-default;
          }
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
    .content-container {
      width: 100%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      line-height: 1.2;
      .divider {
        border-top: 1px solid gray;
      }
      .submenu-bar {
        text-align: center;
        position: relative;
        padding: 10px 0;
        .submenu-item {
          width: 25%;
          height: 80px;
          background-color: #f7f7f7;
          display: inline-block;
          margin: 20px 5%;
          position: relative;
          cursor: pointer;
          border-radius: 5px;
          span {
            @include center-content(50%, 50%);
          }
        }
      }
    }
  }
}

:host /deep/ .content-container {
  .content {
    a {
      text-decoration: none;
      color: $color-link-secondary;
      &:hover {
        color: $color-link-secondary-hover;
      }
    }
    & > h2 {
      margin-top: 0;
      font-size: $font-size-h2;
    }
    & > p {
      & > h2 {
        font-weight: 600;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #content-container {
    width: 100%;
    padding: 40px 10px;
    #page {
      .heading {
        margin: 0 20px 10px;
        .title {
          width: 100%;
        }
      }
      .content-container {
        .submenu-bar {
          .submenu-item {
            width: 80%;
            margin: 10px 5%;
            height: 70px;
          }
        }
        .contact-form {
          width: 90%;
          margin-left: 5%;
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #content-container {
    width: 100%;
    #page {
      .heading {
        margin: 0 20px 10px;
        .title {
          width: 100%;
        }
      }
      .content-container {
        .submenu-bar {
          .submenu-item {
            width: 40%;
            margin: 10px 5%;
            height: 70px;
          }
        }
        .contact-form {
          width: 90%;
          margin-left: 5%;
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #content-container {
    width: 90%;
    #page {
      .heading {
        margin: 0 20px 10px;
        .title {
          width: 100%;
        }
      }
      .content-container {
        .submenu-bar {
          .submenu-item {
            width: 40%;
            margin: 10px 5%;
            height: 70px;
          }
        }
        .contact-form {
          width: 90%;
          margin-left: 5%;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #content-container {
    width: 90%;
    #page {
      .heading {
        margin: 0 20px 10px;
        .title {
          width: 100%;
        }
      }
      .content-container {
        .submenu-bar {
          .submenu-item {
            width: 40%;
            margin: 10px 5%;
            height: 70px;
          }
        }
        .contact-form {
          width: 90%;
          margin-left: 5%;
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
}
