<div class="header">
  <div class="default-header"></div>
</div>
<div id="content-container">
  <app-loader *ngIf="!page"></app-loader>
  <div *ngIf="page" id="page">
    <div class="heading">
      <div class="title">
        <h2>{{ page.name }}</h2>
        <span *ngIf="page.name === 'Contact'"
          >You'll find many ways to contact us right here.</span
        >
        <span *ngIf="page.name === 'Kontakt'"
          >Du hittar många sätt att kontakta oss här.</span
        >
      </div>
    </div>
    <div class="content-container">
      <div class="divider"></div>
      <app-featured-faqs></app-featured-faqs>
      <div class="divider"></div>
      <div class="submenu-bar">
        <div
          *ngFor="let m of subMenu; let i = index"
          (click)="goToPage(m)"
          class="submenu-item"
        >
          <span>{{ m.title }}</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="contact-form">
        <app-contact-form
          *ngIf="page.name === 'Contact' || page.name === 'Kontakt'"
        ></app-contact-form>
      </div>
    </div>
  </div>
</div>
