<div id="event-list">
  <div class="sections-wrapper">
    <div *ngFor="let gName of groupNames" class="section">
      <h3>{{gName}}</h3>
      <div *ngFor="let event of eventsByGroupName[gName]" class="event" (click)="showInPopup(event)">
        <div class="date">
          <span>{{getDay(event.start)}}</span>
          <span>{{getMonth(event.start)}}</span>
        </div>
        <div class="info">
          <h2>{{event.title}}</h2>
          <label>
            <i class="material-icons" [ngStyle]="{color: ths_calendars['events'].color}">fiber_manual_record</i> {{event.calendarName}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>