@import "../../../../style/utilities";

#event-list {
  background-color: $bg-color-default;
  .sections-wrapper {
    width: 96%;
    display: inline-block;
    background-color: white;
    margin-top: 20px;
    padding: 0 50px 40px;
    text-align: left;
    .section{
      .event{
        position: relative;
        padding: 15px 0;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
        >div {
          display: inline-block;
        }
        .date {
          @include circle(50px);
          display: inline-flex;
          flex-direction: column;
          background-color: lightgray;
          justify-content: center;
          vertical-align: top;
          text-align: center;
          span:first-child {
            font-weight: 600;
          }
          span:last-child {
            font-size: 0.7em;
            color: gray;
          }
        }
        .info{
          text-align: left;
          padding: 0 10px;
          h2{
            font-size: 1em;
            margin: 0 0 5px;
          }
          label{
            color: gray;
            align-items: center;
            display: flex;
            font-size: 0.85em;
            i{
              font-size: 1.25em;
            }
          }
        }
      }
    }
  }
}