<footer>
  <div class="container">
    <app-navbar-sections></app-navbar-sections>
    <div>
      <div class="logo">
        <a routerLink="/"><img src="/assets/svg/ths_circles_filled.svg"/></a>
      </div>
      <app-navbar-footer></app-navbar-footer>
    </div>
    <div class="location">
      {{
        lang === "en"
          ? "Made with ♥ in Stockholm, Sweden"
          : "Utvecklad med ♥ i Stockholm, Sverige"
      }}
      <p>
        {{ lang === "en" ? "Developed by " : "Av "
        }}<a href="https://www.ahzaumarang.com" target="_blank"
          >Ah Zau Marang</a
        >
        {{ lang === "en" ? "and" : "och" }}
        <a href="https://www.cstate.se" target="_blank">Christopher State</a>
      </p>
    </div>
  </div>
</footer>
