<div #card_categorizer id="card-categorizer">
  <ng-container *ngIf="!fetching">
    <span *ngIf="lang === 'en'">I am interested in</span>
    <span *ngIf="lang === 'sv'">Jag är intresserad av</span>

    <div class="interest" (click)="toggleDropdown(1)">
      <span>{{ selected_interest_name }}</span>
      <i class="material-icons">keyboard_arrow_down</i>
      <div class="dropdown-container">
        <div class="dropdown-list">
          <div
            *ngFor="let c of int_cats; let i = index"
            class="dropdown-item"
            [ngClass]="{ 'selected-item': inter_selectedIndex === i }"
            (click)="updateFiltering('interest', $event, c.id, i)"
          >
            {{ c.name }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
