@import "../../../style/mixins";
@import "../../../style/variables";

#card-categorizer {
  @include container-size(80%);
  //border:1px solid red;
  padding: 20px 40px;
  margin: 10px auto;
  text-align: center;
  font-size: $font-size-h3;
  background-color: $bg-color-primary;
  color: $color-white;

  & >div {
    display: inline-block;
    & >span {
      text-decoration: underline;
    }
    & >i {
      vertical-align: middle;
    }
  }
}