<div #card_categorizer id="card-categorizer">
  I am a
  <div #profession class="profession"  (click)="companyIsDisabled !== true || toggleDropdown(1)" [attr.disabled]="!companyIsDisabled">
    <span>{{selected_profession_name}}</span>
    <i class="material-icons">keyboard_arrow_down</i>
      <div class="dropdown-container">
          <div class="dropdown-list">
              <div *ngFor="let c of pro_cats" class="dropdown-item" (click)="updateFiltering('profession', $event, c.id)">{{c.name}}</div>
          </div>
      </div>
  </div>
  <div (click)="switchPerson()" class="switcher">
    <div #switch_button class="switch-button"></div>
  </div>
  <div #company class="company" (click)="companyIsDisabled === true || toggleDropdown(2)" [attr.disabled]="companyIsDisabled">
    <span>{{selected_company_name}}</span>
    <i class="material-icons">keyboard_arrow_down</i>
      <div class="dropdown-container">
          <div class="dropdown-list">
              <div *ngFor="let c of org_cats" class="dropdown-item" (click)="updateFiltering('company', $event, c.id)">{{c.name}}</div>
          </div>
      </div>
  </div>
  and I am interested in
  <div class="interest" (click)="toggleDropdown(3)">
    <span>{{selected_interest_name}}</span>
    <i class="material-icons">keyboard_arrow_down</i>
      <div class="dropdown-container">
          <div class="dropdown-list">
              <div *ngFor="let c of int_cats" class="dropdown-item" (click)="updateFiltering('interest', $event, c.id)">{{c.name}}</div>
          </div>
      </div>
  </div>
</div>
