@import "../../../style/utilities";
.tranparentHeader {
  @include bg-linear-grad-to-top(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.open {
  -webkit-appearance: none;
  border-radius: 0;
  background: transparent;
  position: absolute;
  border: 0;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: block;
  cursor: pointer;
  span {
    display: block;
    clear: both;
    height: 1px;
    width: 25px;
    border-radius: 40px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 13px;
    overflow: hidden;
    transition: all 0.4s ease;
    &:nth-child(1) {
      z-index: 9;
    }
    &:nth-child(2) {
      margin-top: 7px;
    }
    &:nth-child(3) {
      margin-top: 14px;
    }
  }
}
.js-open-nav {
  background: white;
}

.js-open-nav {
  .sub-menu {
    opacity: 1;
    border-radius: 0;
  }
  span.cls:nth-child(2) {
    overflow: visible;
    background-color: #000;
  }
  span.cls:nth-child(1),
  span:nth-child(3) {
    z-index: 100;
    background-color: #000;
    transform: rotate(45deg);
  }
  span.cls:nth-child(1) {
    background-color: #000;
    transform: rotate(45deg) translateY(5px) translateX(5px);
  }
  span.cls:nth-child(2) {
    background-color: #fff;
  }
  span.cls:nth-child(3) {
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  transition: top 0.5s ease;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  color: white !important;
  .container {
    border-bottom: 0;
  }
  .mobile {
    display: none;
  }
  .container {
    @include container-size($main-container);
    position: relative;
    //border-bottom: 1px solid lightgray;
    padding: 15px 0;
    text-align: inherit;
    z-index: 1;
    max-width: 1600px;
    margin: 0 auto;

    > div {
      display: inline-block;
      vertical-align: middle;
    }

    .search {
      @include center-vertically(50%);
      left: 0;
      color: white;
      cursor: pointer;
      font-size: $font-size-default;
      i {
        font-size: $font-size-h2;
        vertical-align: middle;
      }
    }

    .logo {
      @include square(45px);
      overflow: hidden;
      position: relative;
      display: inline-block;

      a {
        text-decoration: none;
        img {
          /*width: auto;
          height: 200%;*/
          margin-top: -10px;
        }
      }
    }

    .search-bar-mobile {
      display: block;
      background-color: white;
      text-align: left;
      padding: 10px 5% 10px 2%;
      font-size: 0.8em;
      .search-bar {
        > span {
          text-decoration: none;
          color: black;
          i {
            font-size: 2em;
            vertical-align: middle;
            color: #acacac;
            float: right;
            margin-top: 10px;
          }
        }
        > input {
          width: 80%;
          height: 50px;
          border: 0;
          font-size: $font-size-h4;
          vertical-align: middle;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .js-open-nav .chapters {
    color: black !important;
  }

  header {
    position: absolute !important;
    margin-top: 0 !important;
    .container {
      @include container-size(100%);
      overflow: hidden;
      padding: 5px 0;
      .menu-wrapper {
        width: 100%;
        padding: 5px 0;
        .logo {
          @include square(35px);
          float: left;
          margin-left: 10px;
          margin-top: 5px;
        }
        .chapters {
          display: inline-block;
          color: white;
          margin-left: 10px;
          float: left;
          i {
            font-size: 2.1em;
            margin-top: 5px;
            transition: transform 0.5s ease;
          }
        }
        .menu-bar {
          color: white;
          vertical-align: middle;
          top: 10px;
          position: absolute;
          right: 0;
          > div {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
          }
          .menu-title {
            font-size: 0.6em;
            margin: 4px 13px;
            position: absolute;
          }
          /*.chapters{
            .icon{
              display: inline-block;
              width: 35px;
              height: 30px;
              overflow: hidden;
              position: relative;
              vertical-align: middle;
              img{
                position: absolute;
                width: 120px;
                margin-left: -13px;
              }
            }
          }*/
          .menu {
            font-size: $font-size-h4;
            span {
              vertical-align: middle;
            }
            i {
              font-size: $font-size-h4;
              vertical-align: middle;
            }
          }
        }
      }
      .menu-dropdown {
        width: 100%;
        background-color: white;
        overflow: hidden;
        z-index: 1;
        .menu-items {
          display: block;
          background-color: white;
          padding: 0;
          .nav-item {
            overflow: hidden;
            line-height: 1.3em;
            border-top: 1px solid #ebebeb;
            .selected {
              border-bottom: 2px solid #ccc;
              font-weight: bolder;
            }
            label.subitem:after,
            div.item-wrapper:after {
              border-radius: 5px;
              content: "+";
              color: #505050;
              float: right;
              font-size: 2em;
              font-weight: 200;
              padding: 0;
              margin-top: -14px;
              text-align: center;
              outline: 0;
              transition: -webkit-transform 0.3s ease;
              transition: transform 0.3s ease;
            }
            label.selected:after,
            div.item-wrapper.selected:after {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
            }
            .item-wrapper {
              overflow: hidden;
              padding: 20px 5%;
              color: #575757;
              .label {
                display: inline-block;
                float: left;
                span {
                  font-weight: 500;
                  font-size: $font-size-default;
                  color: #505050 !important;
                }
              }
            }
            i {
              float: right;
              font-size: $font-size-default;
              margin-top: 5px;
              font-weight: 500;
            }
            .sub-menu {
              background-color: #fff;
              text-align: left;
              font-size: $font-size-default;
              color: #575757;
              > div {
                font-weight: 400;
                overflow: hidden;
                line-height: 1.3em;
                border-top: 1px solid #ebebeb;
              }
              .sub_item {
                overflow: hidden;
                padding: 20px 5% 20px 10%;
                color: #575757;
                display: block;
                background-color: #f7f7f7;
              }
              .inner_sub_item {
                overflow: hidden;
                padding: 20px 5% 20px 15%;
                color: #575757;
                display: block;
              }
            }
          }
        }
        .signin-btn,
        .language {
          color: gray;
          font-size: $font-size-default;
          text-align: left;
          padding: 15px 20px;
          background-color: #fff;
          font-weight: 400;
          text-decoration: none;
          color: #00406c;
        }
        .signin-btn {
          border-top: 1px solid #b0adad;
          padding-top: 25px;
        }
        .language {
          padding-bottom: 25px;
        }
        .signin-btn > a {
          text-decoration: none;
          font-size: 1.15em;
          font-weight: 400;
          color: #00406c;
        }
      }

      .chapters-items {
        display: block;
        background-color: white;
        padding: 10px 0;
        color: black;
        font-size: $font-size-h4;
        text-align: left;
        height: 350px;
        overflow-y: scroll;
        .nav-item {
          padding: 5px 10px;
          .logo {
            background-color: rgba(0, 0, 0, 0.25);
            display: inline-block;
            vertical-align: middle;
            img {
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }
          }
        }
        label {
          display: inline-block;
          width: 82%;
          vertical-align: middle;
          font-size: 0.9em;
        }
      }
    }
    .bigger-device {
      display: none !important;
    }
    .mobile {
      display: block;
    }
  }

  ::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track {
    background: rgba(84, 84, 84, 0.2);
  }

  ::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 10px;
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .js-open-nav .chapters {
    color: black !important;
  }

  header {
    position: absolute !important;
    margin-top: 0 !important;
    .container {
      @include container-size(100%);
      overflow: hidden;
      padding: 5px 0;
      .menu-wrapper {
        width: 100%;
        padding: 5px 0;
        .logo {
          @include square(35px);
          float: left;
          margin-left: 10px;
          margin-top: 5px;
        }
        .chapters {
          display: inline-block;
          color: white;
          margin-left: 10px;
          float: left;
          i {
            font-size: 2.1em;
            margin-top: 5px;
            transition: transform 0.5s ease;
          }
        }
        .menu-bar {
          color: white;
          vertical-align: middle;
          top: 10px;
          position: absolute;
          right: 0;
          > div {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
          }
          .menu-title {
            font-size: 0.6em;
            margin: 4px 13px;
            position: absolute;
          }
          /*.chapters{
            .icon{
              display: inline-block;
              width: 35px;
              height: 30px;
              overflow: hidden;
              position: relative;
              vertical-align: middle;
              img{
                position: absolute;
                width: 120px;
                margin-left: -13px;
              }
            }
          }*/
          .menu {
            font-size: $font-size-h4;
            span {
              vertical-align: middle;
            }
            i {
              font-size: $font-size-h4;
              vertical-align: middle;
            }
          }
        }
      }
      .menu-dropdown {
        width: 100%;
        background-color: white;
        z-index: 1;
        .menu-items {
          display: block;
          background-color: white;
          padding: 0;
          .nav-item {
            overflow: hidden;
            line-height: 1.3em;
            border-top: 1px solid #ebebeb;
            .selected {
              border-bottom: 2px solid #ccc;
              font-weight: bolder;
            }
            label.subitem:after,
            div.item-wrapper:after {
              border-radius: 5px;
              content: "+";
              color: #505050;
              float: right;
              font-size: 2em;
              font-weight: 200;
              padding: 0;
              margin-top: -14px;
              text-align: center;
              outline: 0;
              transition: -webkit-transform 0.3s ease;
              transition: transform 0.3s ease;
            }
            label.selected:after,
            div.item-wrapper.selected:after {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
            }
            .item-wrapper {
              overflow: hidden;
              padding: 20px 5%;
              color: #575757;
              .label {
                display: inline-block;
                float: left;
                span {
                  font-weight: 500;
                  font-size: $font-size-default;
                  color: #505050 !important;
                }
              }
            }
            i {
              float: right;
              font-size: $font-size-default;
              margin-top: 5px;
              font-weight: 500;
            }
            .sub-menu {
              background-color: #fff;
              text-align: left;
              font-size: $font-size-default;
              color: #575757;
              > div {
                font-weight: 400;
                overflow: hidden;
                line-height: 1.3em;
                border-top: 1px solid #ebebeb;
              }
              .sub_item {
                overflow: hidden;
                padding: 20px 5% 20px 10%;
                color: #575757;
                display: block;
                background-color: #f7f7f7;
              }
              .inner_sub_item {
                overflow: hidden;
                padding: 20px 5% 20px 15%;
                color: #575757;
                display: block;
              }
            }
          }
        }
        .signin-btn,
        .language {
          color: gray;
          border-top: 1px solid #b0adad;
          font-size: 1.15em;
          text-align: left;
          padding: 10px 20px;
          font-weight: 500;
          background-color: #d3d3d3;
        }
        .signin-btn > a {
          text-decoration: none;
          font-size: 1.15em;
          font-weight: 500;
          color: gray;
        }
      }

      .chapters-items {
        display: block;
        background-color: white;
        padding: 10px 0;
        color: black;
        font-size: $font-size-h4;
        text-align: left;
        height: 250px;
        overflow-y: scroll;
        .nav-item {
          padding: 5px 10px;
          .logo {
            background-color: rgba(0, 0, 0, 0.25);
            display: inline-block;
            vertical-align: middle;
            img {
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }
          }
        }
        label {
          display: inline-block;
          width: 82%;
          vertical-align: middle;
          font-size: 0.9em;
        }
      }
    }
    .bigger-device {
      display: none !important;
    }
    .mobile {
      display: block;
    }
  }

  ::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track {
    background: rgba(84, 84, 84, 0.2);
  }

  ::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 10px;
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .js-open-nav .chapters {
    color: black !important;
  }
  header {
    position: absolute !important;
    margin-top: 0 !important;
    .container {
      @include container-size(100%);
      overflow: hidden;
      padding: 5px 0;
      .menu-wrapper {
        width: 100%;
        padding: 5px 0;
        .logo {
          @include square(35px);
          float: left;
          margin-left: 10px;
          margin-top: 5px;
        }
        .chapters {
          display: inline-block;
          color: white;
          margin-left: 10px;
          float: left;
          i {
            font-size: 2.1em;
            margin-top: 5px;
            transition: transform 0.5s ease;
          }
        }
        .menu-bar {
          color: white;
          vertical-align: middle;
          top: 10px;
          position: absolute;
          right: 0;
          > div {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
          }
          .menu-title {
            font-size: 0.6em;
            margin: 4px 13px;
            position: absolute;
          }
          /*.chapters{
            .icon{
              display: inline-block;
              width: 35px;
              height: 30px;
              overflow: hidden;
              position: relative;
              vertical-align: middle;
              img{
                position: absolute;
                width: 120px;
                margin-left: -13px;
              }
            }
          }*/
          .menu {
            font-size: $font-size-h4;
            span {
              vertical-align: middle;
            }
            i {
              font-size: $font-size-h4;
              vertical-align: middle;
            }
          }
        }
      }
      .menu-dropdown {
        width: 100%;
        background-color: white;
        z-index: 1;
        .menu-items {
          display: block;
          background-color: white;
          padding: 0;
          .nav-item {
            overflow: hidden;
            line-height: 1.3em;
            border-top: 1px solid #ebebeb;
            .selected {
              border-bottom: 2px solid #ccc;
              font-weight: bolder;
            }
            label.subitem:after,
            div.item-wrapper:after {
              border-radius: 5px;
              content: "+";
              color: #505050;
              float: right;
              font-size: 2em;
              font-weight: 200;
              padding: 0;
              margin-top: -14px;
              text-align: center;
              outline: 0;
              transition: -webkit-transform 0.3s ease;
              transition: transform 0.3s ease;
            }
            label.selected:after,
            div.item-wrapper.selected:after {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
            }
            .item-wrapper {
              overflow: hidden;
              padding: 20px 5%;
              color: #575757;
              .label {
                display: inline-block;
                float: left;
                span {
                  font-weight: 500;
                  font-size: $font-size-default;
                  color: #505050 !important;
                }
              }
            }
            i {
              float: right;
              font-size: $font-size-default;
              margin-top: 5px;
              font-weight: 500;
            }
            .sub-menu {
              background-color: #fff;
              text-align: left;
              font-size: $font-size-default;
              color: #575757;
              > div {
                font-weight: 400;
                overflow: hidden;
                line-height: 1.3em;
                border-top: 1px solid #ebebeb;
              }
              .sub_item {
                height: 70px;
                overflow: hidden;
                padding: 3% 5% 20px 10%;
                color: #575757;
                display: block;
                background-color: #f7f7f7;
              }
              .inner_sub_item {
                overflow: hidden;
                padding: 20px 5% 20px 15%;
                color: #575757;
                display: block;
              }
            }
          }
        }
        .signin-btn,
        .language {
          color: gray;
          border-top: 1px solid #b0adad;
          font-size: 1.15em;
          text-align: left;
          padding: 10px 20px;
          font-weight: 500;
          background-color: #d3d3d3;
        }
        .signin-btn > a {
          text-decoration: none;
          font-size: 1.15em;
          font-weight: 500;
          color: gray;
        }
      }

      .chapters-items {
        display: block;
        background-color: white;
        padding: 10px 0;
        color: black;
        font-size: $font-size-h4;
        text-align: left;
        height: 300px;
        overflow-y: scroll;
        .nav-item {
          padding: 5px 10px;
          .logo {
            float: left;
            margin-left: 10px;
            background-color: rgba(0, 0, 0, 0.25);
            display: inline-block;
            vertical-align: middle;
            img {
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }
          }
        }
        label {
          display: inline-block;
          width: 82%;
          vertical-align: middle;
          font-size: 1em;
        }
      }
    }
    .bigger-device {
      display: none !important;
    }
    .mobile {
      display: block;
    }
  }

  ::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track {
    background: rgba(84, 84, 84, 0.2);
  }

  ::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 10px;
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
}

@media (max-width: 1546px) and (min-width: 992px) {
  header {
    .container {
      height: 75px;
      .search {
        font-size: $font-size-h6;
      }
      .logo {
        float: left;
      }
      .search {
        margin: 0px 60px;
      }
    }
  }
}
