<header #app_header>
    <app-notification-bar></app-notification-bar>
    <div class="container">
        <div class="search" role="search"><i class="material-icons">search</i> Search THS</div>
        <div class="logo">
            <a routerLink="/"><img src="../../../assets/images/logo.png"/></a>
        </div>

        <app-navbar-primary></app-navbar-primary>
        <!--<app-navbar-sections></app-navbar-sections>
        <app-navbar-secondary></app-navbar-secondary>-->
    </div>
</header>


