<header #app_header [ngClass]="{'tranparentHeader': tranparentHeader}">
    <div class="container bigger-device">
        <div class="search" role="search" (click)="showSearchMenubar()"><i class="material-icons">search</i> {{placeholder}}</div>
        <div class="logo">
            <a routerLink="/"><img src="../../../assets/images/logo.png"/></a>
        </div>

        <app-navbar-primary></app-navbar-primary>
    </div>
    <div class="container mobile">
        <div class="menu-wrapper">
            <div class="logo">
                <a routerLink="/"><img src="../../../assets/images/logo.png"/></a>
            </div>
            <div class="chapters">
                <i class="material-icons" (click)="toggleChaptersMobile($event)">more_vert</i>
            </div>
            <div class="menu-bar">
                <div class="menu" (click)="toggleMenuMobile()">
                    <span>{{(lang === 'en' ? 'Menu' : 'Meny')}}</span>
                    <i *ngIf="!showMenuMobile" class="fa fa-bars"></i>
                    <i *ngIf="showMenuMobile" class="fa fa-times-circle"></i>
                </div>
            </div>
        </div>
        <div *ngIf="showMenuMobile" class="menu-dropdown">
            <div *ngIf="showMenuMobile" class="search-bar-mobile">
                <form autocomplete="off">
                    <div class="search-bar">
                        <span (click)="navToSearchPage('/search')"><i class="material-icons">search</i></span>
                        <input placeholder="{{(lang === 'en' ? 'Search THS and beyond...' : 'Sök THS')}}" [(ngModel)]="searchTerm" name="searchInput" type="search">
                    </div>
                </form>
            </div>
            <app-loader *ngIf="topLevelMainMenu?.length === 0"></app-loader>
            <div *ngIf="showMenuMobile" class="menu-items">
                <div #submenu_item class="nav-item" *ngFor="let item of topLevelMainMenu; index as i">
                    <div class="item-wrapper" [ngClass]="{'selected': showSubmenuIndex === i}">
                        <div class="label">
                            <span (click)="goToPage(item)">{{item.title}}</span>
                        </div>
                        <i *ngIf="showSubmenuIndex !== i" class="fa fa-plus" (click)="showSubMenu(item.object_slug, i)"></i>
                        <i *ngIf="showSubmenuIndex === i" class="fa fa-minus" (click)="hideSubMenu(i)"></i>
                    </div>
                    <div *ngIf="showSubmenuIndex === i" class="sub-menu">
                        <app-loader *ngIf="subMenu.length === 0"></app-loader>
                        <div *ngFor="let subItem of subMenu" (click)="goToPage(subItem)">
                            {{subItem.title}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="signin-btn"><a href="https://login.kth.se/login?service=http://thstudent.upright.se/" target="_blank">{{signin_text }} <i class="fa fa-lock fa-fw"></i></a></div>

            <div class="language" (click)="changeLanguage()">
                <span>{{language_text}} </span>
                <img width="25" height="17" src="{{language_img}}">
            </div>
        </div>

        <div *ngIf="showChaptersMobile" class="chapters-items">
            <div *ngFor="let chapter of ths_chapters" class="nav-item" (click)="openInNewTab(chapter.link)">
                <div class="logo"><img src="{{chapter.image}}"></div>
                <label>{{(lang === 'en' ? chapter.title.en : chapter.title.sv)}}</label>
            </div>
        </div>
    </div>
</header>
<app-search-menubar></app-search-menubar>

