@import "../../../style/utilities";

:host /deep/ header{
  background: none !important;
  background-color: $bg-color-primary !important;
  color: white !important;
  position: relative !important;
  .container{
    border-bottom: 0 !important;
  }
}

#events-calendar{
  @include container-size($main-container);
  margin-top: 80px;
  position: relative;
  margin-bottom: 50px;

  .calendar-wrapper{
    width: 55%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: inline-block;

    .title{
      padding: 30px;
      background-color: #dddddd;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      h2{margin: 0;}
    }
  }

  .events-wrapper{
    width: 43%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    margin-top: 15px;

    .events-header{
      border-bottom: 1px solid lightgrey;
      padding-bottom: 10px;
      h3{
        margin:0;
        display: inline-block;
      }
      .filter-icon{
        position: relative;
        float: right;
        display: inline-block;
        cursor: pointer;
        i{
          vertical-align: text-bottom;
        }
      }
    }

    .events{
      & >span{
        color: $text-color-warning;
        margin-top: 10px;
        display: block;
      }
      .item{
        margin: 5px 0;
        background-color: #eaeaea;
        height: 150px;
        cursor: pointer;
        .img-wrapper{
          display: inline-block;
          width: 40%;
          height: 100%;
          text-align: center;
          background-size: cover;
          vertical-align: middle;
          & >span{
            display: block;
            font-weight: 800;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            color: white;
            padding-top: 10px;
            z-index: 1;
          }
        }

        .info{
          display: inline-block;
          width: 58%;
          vertical-align: middle;
          margin-left: 1%;
          h5{
            margin:0;
            font-weight: 600;
            font-size: $font-size-default;
          }
          span{
            font-weight: 300;
            color: gray;
            font-size: $font-size-h6;
          }
          p{
            margin:5px 0;
          }
        }

      }
    }
  }
}

:host /deep/ .calendar-wrapper{
  .cal-header{
    font-weight: 400 !important;
  }

  .cal-day-cell {
    min-height: 50px !important;
  }
}


// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #events-calendar {

  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #events-calendar {

  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #events-calendar {

  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #events-calendar {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}