<app-loader *ngIf="loading && !show_single_page"></app-loader>
<div
  #submenu_bar
  class="submenu-bar mobile"
  [ngClass]="{ 'freeze-submenu-bar': freeze_submenu_bar }"
>
  <div *ngIf="subMenu?.length !== 0 && !loading && !show_single_page">
    <div class="selected-item" (click)="toggleSubmenuBarDropdown()">
      <span [innerHTML]="page?.name"></span>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div
      #submenuBarDropdown
      *ngIf="showSubmenuBarDropdown"
      class="submenu-bar-dropdown"
    >
      <div
        *ngFor="let m of subMenu; let i = index"
        (click)="goToPage(m)"
        class="submenu-item"
      >
        <span>{{ m.title }}</span>
        <div *ngIf="i !== subMenu?.length - 1" class="divider"></div>
      </div>
    </div>
  </div>
</div>

<div
  id="content-container"
  *ngIf="!pageNotFound && page && !loading && !show_single_page"
>
  <!--<app-breadcrumb class="mobile app-breadcrumb" *ngIf="page"></app-breadcrumb>-->
  <div class="header-image">
    <div *ngIf="page.header.header_image" class="default-header-height">
      <img
        *ngIf="page.header.header_image"
        src="{{ page.header.header_image }}"
        alt="Header image"
      />
    </div>

    <div
      *ngIf="!page.header.header_image && page.header.header_color"
      class="header-color default-header-height"
      [ngStyle]="{ backgroundColor: page.header.header_color }"
    ></div>
    <div
      *ngIf="!page.header.header_image && !page.header.header_color"
      class="default-header default-header-height"
    ></div>
  </div>
  <div *ngIf="subMenu?.length === 0" class="larger-devices"></div>

  <div *ngIf="page" id="page">
    <app-breadcrumb class="breacrumb-large"></app-breadcrumb>
    <div class="heading">
      <div class="title">
        <h2 [innerHTML]="page?.name"></h2>
      </div>
    </div>
    <div class="side-bar larger-devices">
      <div class="submenu">
        <div
          *ngFor="let m of subMenu; let i = index"
          (click)="goToPage(m)"
          class="submenu-item"
        >
          <span>{{ m.title }}</span>
        </div>
      </div>
      <app-related-links [links]="page.related_links"></app-related-links>
      <app-join-us></app-join-us>
      <app-events-card></app-events-card>
    </div>
    <div class="content-container">
      <div class="content" [innerHTML]="page?.content"></div>
      <app-image-gallery
        *ngIf="page?.image_gallery"
        [imageGallery]="page?.image_gallery"
      ></app-image-gallery>

      <footer class="article-footer">
        <dl class="dl-horizontal dl-in-article-footer">
          <dt>Last modified</dt>
          <dd>
            <time
              datetime="{{formatDate(page.last_modifiled)}"
              class="ng-binding"
              >{{ formatDate(page.last_modifiled) }}</time
            >
          </dd>

          <dt>Responsible</dt>
          <dd>
            <a href="mailto:{{ page.author.email }}" class="ng-binding">{{
              page.author.name
            }}</a>
          </dd>
        </dl>
      </footer>

      <div class="mobile">
        <app-related-links [links]="page.related_links"></app-related-links>
        <app-join-us></app-join-us>
        <app-events-card></app-events-card>
      </div>
    </div>
  </div>
</div>

<app-page-not-found
  *ngIf="pageNotFound && !show_single_page"
></app-page-not-found>

<app-single-view *ngIf="show_single_page"></app-single-view>
