@import "../../../../style/_utilities";
.freeze-submenu-bar{
  @include freeze-submenu-bar;
}
.submenu-bar{
  @include submenu-bar;
}
.mobile{
  display: none;
}
#content-container{
  @include container-size($main-container);
  position: relative;
  margin-bottom: 50px;
  line-height: 1;
  margin-top: 100px;
  .larger-devices{
    display: block;
  }
  #page{
    margin-top: 50px;
    .heading {
      position: relative;
      margin-bottom: 40px;
      & > div {
        display: inline-block;
      }
      .title {
        width: 65%;
        h2 {
          font-size: $font-size-h2;
          margin: 0 0 10px;
        }
        span {
          color: gray;
          font-size: $font-size-h4;
        }
      }
    }

    .side-bar{
      width: 25%;
      display: inline-block;
      text-align: right;
      .submenu{
        margin-bottom: 20px;
        .submenu-item{
          padding: 15px 5px;
          position: relative;
          font-weight: 600;
          cursor: pointer;
          border-bottom: 1px solid lightgrey;
          a{
            text-decoration: none;
            color: $text-color-default;
          }
          &:hover{
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
          }
          &:last-child{
            border: 0;
          }
        }
      }
    }
    .content-container{
      width: 66%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      left: 4%;
      line-height: 1.2;
      .content{
        margin-bottom: 50px;
      }
    }
  }
}
:host /deep/ .showbox{
  padding: 10% !important;
  margin-top: 100px;
}
:host /deep/ .content-container{
  .content{
    >h1{
      font-size: $font-size-h3;
    }
    a{
      text-decoration: none;
      color: $color-link-secondary;
      &:hover{
        color: $color-link-secondary-hover;
      }
    }
    & >h2{
      font-size: $font-size-h2;
    }
    & >p{
      & >h2{
        font-weight: 600;
      }
    }
    video{
      width: 100% !important;
      height: auto !important;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .mobile{
    display: block;
  }
  #content-container {
    width: 100%;
    margin-top: 0;
    .larger-devices{
      display: none !important;
    }
    #page{
      width: 90%;
      margin-left: 5%;
      .heading{
        margin-bottom: 20px;
        .title{
          width: 100%;
        }
      }
      .content-container{
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .mobile{
    display: block;
  }
  #content-container {
    width: 100%;
    margin-top: 0;
    .larger-devices{
      display: none !important;
    }
    #page{
      width: 90%;
      margin-left: 5%;
      .heading{
        margin-bottom: 20px;
        .title{
          width: 100%;
        }
      }
      .content-container{
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .mobile{
    display: block;
  }
  #content-container {
    width: 100%;
    margin-top: 0;
    .larger-devices{
      display: none !important;
    }
    #page{
      width: 90%;
      margin-left: 5%;
      .heading{
        margin-bottom: 20px;
        .title{
          width: 100%;
        }
      }
      .content-container{
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #content-container {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}