@import "../../../../style/_utilities";
.freeze-submenu-bar {
  @include freeze-submenu-bar;
}
.submenu-bar {
  @include submenu-bar;
}
.mobile {
  display: none;
}
#content-container {
  position: relative;
  margin-bottom: 50px;
  line-height: 1;
  .larger-devices {
    display: block;
  }
  .header-image {
    max-height: 224px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    img {
      min-width: 100%;
      max-width: 100%;
      height: auto;
    }
    .default-header {
      width: 100%;
      height: 224px;
      background-color: #00406c;
    }
    .default-header-height {
      width: 100%;
      height: 224px;
    }
  }
  #page {
    box-shadow: 0 1px 3px #b2b2b2;
    margin-top: 10px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: white;
    position: relative;
    top: -160px;
    border-radius: 15px;
    width: 85%;
    .heading {
      position: relative;
      margin-bottom: 40px;
      padding-top: 20px;
      & > div {
        display: inline-block;
      }
      .title {
        width: 65%;
        h2 {
          font-size: $font-size-h2;
          margin: 0 0 10px;
        }
        span {
          color: gray;
          font-size: $font-size-h4;
        }
      }
    }

    .side-bar {
      width: 25%;
      display: inline-block;
      text-align: left;
      .submenu {
        margin-bottom: 20px;
        .submenu-item {
          padding: 15px 5px;
          position: relative;
          font-weight: 600;
          cursor: pointer;
          border-bottom: 1px solid lightgrey;
          a {
            text-decoration: none;
            color: $text-color-default;
          }
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
    .content-container {
      width: 66%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      left: 4%;
      line-height: 1.2;
      .article-footer {
        position: relative;
        font-size: 14px;
        border-top: 1px solid #cac8c8;
        padding: 25px 0;
        margin: 0;
        dt,
        dd {
          line-height: 1.42857;
        }
        dt {
          font-weight: bold;
        }
        dd {
          margin-left: 0;
          a {
            text-decoration: none;
            color: $color-link-secondary;
            &:hover {
              color: $color-link-secondary-hover;
            }
          }
        }
        dl {
          margin-top: 0;
          margin-bottom: 0;
        }
        .dl-horizontal dt {
          text-align: left;
        }
        .dl-horizontal dd {
          margin-bottom: 12px;
        }
      }
      .article-footer .dl-in-article-footer dt,
      .article-footer-news .dl-in-article-footer dt {
        width: 100px;
      }
      .content {
        margin-bottom: 50px;
      }
    }
  }
}

:host /deep/ table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  td {
    border: 1px solid lightgray;
    padding: 10px;
  }
}

:host /deep/ .showbox {
  padding-bottom: 200px !important;
  padding-top: 250px !important;
}

:host /deep/ #join-us {
  margin-bottom: 35px;
}

:host /deep/ .content-container {
  .content {
    > h1 {
      font-size: $font-size-h3;
    }
    a {
      text-decoration: none;
      color: $color-link-secondary;
      &:hover {
        color: $color-link-secondary-hover;
      }
    }
    & > h2 {
      font-size: $font-size-h2;
    }
    & > p {
      & > h2 {
        font-weight: 600;
      }
    }
    video {
      width: 100% !important;
      height: auto !important;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .mobile {
    display: block;
  }
  .submenu-bar {
    font-size: 0.9em;
    // top: 110px;
    width: 97%;
    margin-left: 1.5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 24px 1px -24px #b2b2b2;
    .material-icons {
      font-size: 20px;
    }
  }
  .app-breadcrumb {
    display: block;
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
  }
  #content-container {
    padding: 0;
    width: 100%;
    margin-top: 0;
    .larger-devices {
      display: none !important;
    }
    #page {
      width: 97%;
      padding: 50px 20px;
      .heading {
        margin-bottom: 0;
        .title {
          width: 100%;
        }
      }
      .divider {
        border-top: 1px solid gray;
      }
      .content-container {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }

  :host /deep/ .content {
    img {
      width: 100%;
      height: auto;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .mobile {
    display: block;
  }
  .submenu-bar {
    font-size: 0.9em;
    //top: 110px;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    .material-icons {
      font-size: 20px;
    }
  }
  .app-breadcrumb {
    display: block;
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
  }
  #content-container {
    padding: 0;
    width: 100%;
    margin-top: 0;
    .larger-devices {
      display: none !important;
    }
    #page {
      width: 90%;
      padding: 50px 20px;
      .heading {
        margin-bottom: 0;
        .title {
          width: 100%;
        }
      }
      .content-container {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }

  :host /deep/ .content {
    img {
      width: 100%;
      height: auto;
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .mobile {
    display: block;
  }
  .submenu-bar {
    //top: 110px;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
  }
  .app-breadcrumb {
    display: block;
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
  }
  #content-container {
    padding: 0;
    width: 100%;
    margin-top: 0;
    .larger-devices {
      display: none !important;
    }
    #page {
      width: 90%;
      padding: 50px 30px;
      .heading {
        margin-bottom: 0;
        .title {
          width: 100%;
        }
      }
      .content-container {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }

  :host /deep/ .content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #content-container {
    .content-container {
      .article-footer {
        .dl-horizontal dt {
          float: left;
          width: 160px;
          clear: left;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 5px;
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
  #content-container {
    .content-container {
      .article-footer {
        .dl-horizontal dt {
          float: left;
          width: 160px;
          clear: left;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 5px;
        }
      }
    }
  }
  #breadcrumbs {
    max-width: 1600px;
    margin: 0 auto;
  }
  /*  .app-breadcrumb {
    margin-left: 5%;
    display: block;
    position: absolute;
    top: 130px;
    width: 100%;
  }*/
}
