<div #slides_container id="text-slider">
  <div *ngFor="let item of slides_items" class="slide-wrapper">
    <div class="slide">
      <h2 [innerHTML]="item.question"></h2>
      <p class="large-devices" [innerHTML]="item.answer | cardText:800"></p>
      <p class="mobile" [innerHTML]="item.answer | cardText:250"></p>
    </div>
    <a class="category" [innerHTML]="item.category_name" [routerLink]="['faqs']" [queryParams]="{category_id:item.faq_category[0]}"></a>
  </div>
  <div class="text-slider-navBefore"><i class="material-icons" (click)="navBefore()">navigate_before</i></div>
  <div class="text-slider-navNext"><i class="material-icons" (click)="navNext()">navigate_next</i></div>
  <div #slider_progress_bar class="slider-progress-bar">
    <div *ngFor="let item of slides_items, let i = index" class="bar-item" (click)="selectSlide(i)"></div>
  </div>
</div>
