@import "../../../../style/variables";
@import "../../../../style/mixins";

nav {
  @include center-vertically(50%);
  display: inline-block;
  right: 0;

  .payment-btn {
    border-radius: 15px;
    padding: 7px;
    color: white;
    border: 1px solid;
    cursor: pointer;
  }

  .ths-icon, .language {
    cursor: pointer;
    margin-left: 12px !important;
    vertical-align: middle;
  }
  .ths-icon{
    .icon{
      display: inline-block;
    }
  }

  >div{
    display:inline-block;
    margin-left: 30px;
    font-size: $font-size-default;
    color: $color-white;
    position: relative;
    a{
      text-decoration: none;
      vertical-align: text-top;
    }
    .label a{
      color: $color-white;
      &:hover{
        text-decoration: underline;
      }
    }
    i{
      margin-left: 10px;
    }
    .dropdownList {
      position: absolute;
      background-color: $color-white;
      margin-top: 20px;
      font-size: $font-size-h5;
      width: 300px;
      z-index: 1;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);

      .d-header-bg{
        height: 90px;
        background-color: #00a5ce;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .d-header{
        height: 20px;
        background-color: white;
        position: relative;
        & >div{
          position: absolute;
          bottom: 5px;
          padding-left: 20px;
          img{
            width: 100px;
            height: 70px;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }

      &::before {
        @include arrow-up(15px, #00a5ce, 48%);
      }

      .nav-section {
        vertical-align: top;
        font-size: $font-size-h7;
        line-height: 1.6;
        border-bottom: 1px solid lightgrey;
        padding: 0 15px;
        &:hover {
          background-color: #d7ecf1;
        }
        & >label {
          display: block;
          padding: 10px 10px;
          font-weight: $font-weight-regular;
          width: auto;
          a{
            color: $text-color-default;
          }
          a:hover {
            text-decoration: none !important;
          }
        }
        &:last-child{
          border: none;
          margin-bottom: 30px;
        }
      }
      .browse-more{
        background-color: #00a5ce;
        text-align: center;
        padding: 15px 0;
      }
    }
  }
}