<nav role="navigation">
    <div *ngFor="let item of menu; index as i; first as isFirst">
        <label>
            <a routerLink="{{item.url}}">{{item.title}}</a>
            <i class="material-icons">keyboard_arrow_down</i>
        </label>
        <!--<div *ngIf="isFirst" class="dropdownList">
            <div *ngFor="let child_item of item.children; first as ddlIsFirst" class="nav-section">
                <label><a routerLink="{{child_item.url}}">{{child_item.title}}</a></label>
                <div class="subItems">
                    <div *ngFor="let grandchild_item of child_item.children">
                        <label><a routerLink="{{grandchild_item.url}}">{{grandchild_item.title}}</a></label>
                    </div>
                </div>
            </div>
        </div>-->

    </div>
</nav>