@import "../../../style/utilities";

form {
  h1 {
    padding: 20px;
    background-color: $bg-color-primary;
    color: white;
  }
  a {
    text-decoration: none;
    color: $color-link-secondary;
    &:hover {
      color: $color-link-secondary-hover;
    }
  }
  .error {
    color: $text-color-danger;
    display: inline-block;
    margin-left: 10px;
  }
  .success {
    color: $text-color-success;
    display: inline-block;
    margin-left: 10px;
  }
  .heading {
    font-size: $font-size-h3;
    font-weight: 600;
  }
  .titles {
    width: 50%;
    .title {
      display: inline-block;
      border-radius: 25px;
      padding: 15px 40px;
      color: black;
      border: 1px solid #4a4a4a;
      margin: 10px 5px;
      &:hover {
        background-color: #4a4a4a;
        color: white;
      }
    }
  }
  select,
  textarea,
  input {
    width: 100%;
    //height: 40px;
    border-radius: 5px;
    border: 0;
    border: 1px solid lightgrey;
    padding: 10px;
    font-size: $font-size-h5;
  }

  textarea {
    height: auto;
  }

  .standard-grid {
    @include standard-grid(2%);
    overflow: hidden;
    > div {
      margin-left: -1%;
      width: 102%;
    }
  }

  label {
    display: block;
    margin: 15px 0 5px;
  }

  .divider {
    @include divider(100%, 10px);
  }

  button {
    @include standard-button(10px 25px);
    margin-top: 20px;
    cursor: pointer;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  form {
    font-size: $font-size-h6;
    > h1 {
      font-size: $font-size-h3;
    }
    .heading {
      font-size: $font-size-h4;
    }
    .standard-grid {
      .o-half {
        width: 98%;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  form {
    font-size: $font-size-h6;
    > h1 {
      font-size: $font-size-h3;
    }
    .heading {
      font-size: $font-size-h4;
    }
    .standard-grid {
      .o-half {
        width: 98%;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  form {
    > h1 {
      font-size: $font-size-h3;
    }
    .heading {
      font-size: $font-size-h4;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  form {
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
}
