.image-gallery{
  width: 104%;
  .item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    margin-bottom: 50px;
    img{
      width: 100%;
    }
  }
  .columns-1{
    width: 96%;
  }
  .columns-2{
    width: 46%;
  }
  .columns-3{
    width: 29%;
  }
}