@import "../../../style/utilities";

.contact-info {
  background-color: $bg-color-primary;
  color: white;
  height: 100%;
  padding: 0 15px;
  font-weight: 300;
  padding-bottom: 20px;
  border-radius: 5px;
  font-size: $font-size-h5;

  h1 {
    margin-top: 0;
    padding-top: 40px;
  }

  a {
    @include capsule-button(0, 15px);
    text-decoration: none;
    width: 100% !important;
    text-align: center;
    border-radius: 30px;
  }

  .student,
  .booking {
    margin: 15px 0;
    p {
      span {
        font-weight: $font-weight-regular;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .contact-info {
    font-size: $font-size-default;
    h1 {
      font-size: $font-size-h3;
    }
    a {
      margin-top: 10px;
      border-radius: 30px;
      padding: 10px 0;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .contact-info {
    font-size: $font-size-default;
    h1 {
      font-size: $font-size-h3;
    }
    a {
      border-radius: 30px;
      padding: 10px 0;
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .contact-info {
    font-size: $font-size-h6;
    h1 {
      font-size: $font-size-h3;
      padding-top: 25px;
      margin-bottom: 5px;
    }
    .student {
      margin: 10px 0;
    }
    .booking {
      margin: 10px 0;
    }
    a {
      padding: 10px 0;
      margin-top: 10px;
      border-radius: 30px;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  .contact-info {
    font-size: $font-size-h6;
    h1 {
      font-size: $font-size-h3;
      padding-top: 25px;
      margin-bottom: 5px;
    }
    .student {
      margin: 10px 0;
    }
    .booking {
      margin: 10px 0;
    }
    a {
      border-radius: 30px;
      padding: 10px 0;
      margin-top: 10px;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
}
