<div id="contact-info" xmlns="http://www.w3.org/1999/html">
  <h1>Student Union Office (KårX)</h1>
  <div class="open-hours">monday - friday 11.00 - 15.30</div>
  <div class="student">
    <p>
      <span>Student questions: </span>karx@ths.kth.se<br/><br/>
      Tel: 08-790 98 02 (10-12.00)
    </p>
  </div>
  <div class="booking">
    <p>
      <span>Booking inquiries: </span>lokalbokning@ths.kth.se<br/><br/>
      Tel: 073 644 14 16
    </p>
  </div>
  <a routerLink="contact">Contact</a>
</div>
