@import "../../../style/utilities";

#contact-info{
  background-color: $bg-color-primary;
  color: white;
  height: 100%;
  padding: 0 15px;
  font-weight: 300;

  h1{
    margin-top: 0;
    padding-top: 40px;
  }

  a{
    @include capsule-button(0, 15px);
    text-decoration: none;
    width: 100% !important;
    text-align: center;
  }

  .student, .booking {
    margin: 30px 0;
    p{
      span{
        font-weight: $font-weight-regular;
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #contact-info {

  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #contact-info {

  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #contact-info {

  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #contact-info {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}