@import "../../../style/variables";

:host /deep/ header {
  background: none !important;
  background-color: $bg-color-primary !important;
  color: white !important;
  .container {
    border-bottom: 0 !important;
  }
}

#page-section {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
}
