<div class="title">Social Media</div>
<div id="cards-container" class="masonry-layout">

    <div *ngFor="let post of socialMediaPosts, let i = index" class="masonry-layout_panel two-fourth">

        <!-- ---------- Featured card ---------- -->
        <div *ngIf="i === 0" class="masonry-layout_panel-content" [style.background-image]="post.full_picture? ('url(' + post.full_picture + ')'): none">
            <div class="featured-card">
                <div class="host" [ngSwitch]="post.host">
                    <i *ngSwitchCase="'Facebook'" class="fa fa-facebook-official"></i>
                    <i *ngSwitchCase="'Instagram'" class="fa fa-instagram"></i>
                </div>
                <div class="user">
                    <img src="{{post.user.profile_image}}" alt="User profile image" (click)="goToUserProfile(post.user.link)">
                    <div>
                        <h3 (click)="goToUserProfile(post.user.link)">{{post.user.name}}</h3>
                        <span>{{formatDate(post.created_time)}}</span>
                    </div>
                </div>
                <p>{{post.message}}</p>
                <a href="{{post.link}}" target="_blank" type="button">Read more</a>
            </div>
        </div>

        <!-- ---------- Only text card ---------- -->
        <div *ngIf="i !== 0 && !(post.full_picture)" class="masonry-layout_panel-content" [style.background-image]="post.full_picture? ('url(' + post.full_picture + ')'): none">
            <div class="standard-card">
                <div class="host" [ngSwitch]="post.host">
                    <i *ngSwitchCase="'Facebook'" class="fa fa-facebook-official"></i>
                    <i *ngSwitchCase="'Instagram'" class="fa fa-instagram"></i>
                </div>
                <div class="user">
                    <img src="{{post.user.profile_image}}" alt="User profile image" (click)="goToUserProfile(post.user.link)">
                    <div>
                        <h3 (click)="goToUserProfile(post.user.link)">{{post.user.name}}</h3>
                        <span>{{formatDate(post.created_time)}}</span>
                    </div>
                </div>
                <p>{{post.message}}</p>
                <a href="{{post.link}}" target="_blank" type="button">Read more</a>
            </div>
        </div>

        <!-- ---------- Text with image card ---------- -->
        <div *ngIf="i !== 0 && post.full_picture" class="masonry-layout_panel-content" >
            <div class="single-event-card">
                <div class="left-content">
                    <div class="user">
                        <img src="{{post.user.profile_image}}" alt="User profile image" (click)="goToUserProfile(post.user.link)">
                        <div>
                            <h3 (click)="goToUserProfile(post.user.link)">{{post.user.name}}</h3>
                            <span>{{formatDate(post.created_time)}}</span>
                        </div>
                    </div>
                    <p>{{post.message}}</p>
                </div>
                <div class="right-content" [style.background-image]="post.full_picture? ('url(' + post.full_picture + ')'): none">
                    <div>
                        <div class="host" [ngSwitch]="post.host">
                            <i *ngSwitchCase="'Facebook'" class="fa fa-facebook-official"></i>
                            <i *ngSwitchCase="'Instagram'" class="fa fa-instagram"></i>
                        </div>
                        <a href="{{post.link}}" target="_blank" type="button">Read more</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- ---------- Event calendar card ---------- -->
        <div *ngIf="i !== 0 && i === 2" class="masonry-layout_panel-content">
          <div class="event-calendar-card">
            <div class="left-content" [ngClass]="{'event-arrow-index1': event_arrow_index === 0, 'event-arrow-index2': event_arrow_index === 1, 'event-arrow-index3': event_arrow_index === 2}">
              <h3>{{selected_event_title}}</h3>
              <p>{{selected_event_text | cardText:100}}</p>
              <a [routerLink]="['/events-calendar']" [queryParams]="{id:selected_event_id}" type="button">Read more</a>
            </div>
            <div class="right-content">
                <div class="event-wrapper">
                    <h4>THS's Upcoming events</h4>
                    <div *ngFor="let e of events, let i = index" class="event">
                        <h6>{{getMonth(e.start)}}</h6>
                        <div class="date" (click)="selectEvent(i)">
                            <span>{{getDay(e.start)}}</span>
                        </div>
                        <div class="excerpt">
                            <a [routerLink]="['/events-calendar']" [queryParams]="{id:e.id}">{{e.title | cardText:25}}</a>
                        </div>
                    </div>
                    <a routerLink="events-calendar">More >></a>
                </div>
            </div>
          </div>
        </div>
  </div>


        <!-- ---------- Small card ---------- -->
        <!--<div class="sub-masonry-layout-row two-fourth">
            <div class="sub-masonry-layout_penal two-fourth">
                <div class="sub-masonry-layout_panel-content">
                    <div class="standard-card">
                        <h3>Title</h3>
                        <p>let b of card.card_primary_buttons let b of card.card_primary_buttons let b of card.card_primary_buttons</p>
                        <a type="button">Read more</a>
                    </div>
                </div>
            </div>
            <div class="sub-masonry-layout_penal two-fourth">
                <div class="sub-masonry-layout_panel-content">
                    <div class="standard-card">
                        <h3>Title</h3>
                        <p>let b of card.card_primary_buttons let b of card.card_primary_buttons let b of card.card_primary_buttons</p>
                        <a type="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>-->
</div>
<div class="fetcher">
    <a routerLink="/news" class="plus-button"><span>+</span></a>
</div>
