@import "../../../../style/utilities";

#join-us{
  color: white;
  background-color: rgb(0, 64, 108);
  text-align: left;
  padding: 5px 20px 15px;
  margin-top: 40px;
  .button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 10px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #join-us {

  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #join-us {

  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #join-us {

  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #join-us {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}