@import "../../../../style/mixins";
@import "../../../../style/variables";

#join-us{
  color: white;
  background-color: rgb(0, 64, 108);
  text-align: left;
  padding: 5px 20px 15px;
  margin-top: 40px;
  .button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 10px;
  }
}