<div id="join-us">
  <h1>{{ lang === "en" ? "Join us!" : "Bli medlem!" }}</h1>
  <p>
    {{
      lang === "en"
        ? "A course registration at KTH is a prerequisite in order to become an active member at THS."
        : "En kursregistrering på KTH är en förutsättning för att bli en aktiv medlem hos THS."
    }}
  </p>
  <span
    class="button"
    *ngIf="lang === 'sv'"
    (click)="goToPage('/sv/general/membership')"
    >{{ lang === "en" ? "More info" : "Mer info" }}</span
  >
  <span
    class="button"
    *ngIf="lang === 'en'"
    (click)="goToPage('/en/general/membership')"
    >{{ lang === "en" ? "More info" : "Mer info" }}</span
  >

  <a class="button" href="http://ths.kth.se/login" target="_blank">{{
    lang === "en" ? "Become a member" : "Bli medlem"
  }}</a>
</div>
