<div *ngIf="!pageNotFound" id="homePage">
    <!--<div #app_header class="app-header">

    </div>-->


    <app-header></app-header>
    <app-primary-slider></app-primary-slider>
    <app-card-categorizer></app-card-categorizer>
    <app-cards-container></app-cards-container>
    <div class="faq-slider">
        <div>{{(lang === 'en' ? 'FAQs' : 'Vanliga frågor')}}</div>
        <app-text-slider></app-text-slider>
    </div>
    <div class="image-slider">
        <div>{{(lang === 'en' ? 'News' : 'Nyheter')}}</div>
        <app-image-slider></app-image-slider>
    </div>
    <app-cards-social-container [showFetchMoreBtn]="true"></app-cards-social-container>

    <div class="contact">
        <div class="contact-info">
            <app-contact-info></app-contact-info>
        </div>
        <div class="maps">
            <app-google-maps></app-google-maps>
        </div>
    </div>
</div>

<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>