@import "../../../style/utilities";

#homePage {
  .larger-devices{
    display: block;
  }
  .mobile-devices{
    display: none;
  }
  .contact{
    height: 400px;
    margin-top: 50px;
    margin-bottom: 2px;
    @include container-size($main-container);
    & >div{
      display: inline-block;
    }
    .contact-info{
      width: 34%;
      height: 100%;
      float: left;
    }
    .maps{
      width: 64.65%;
      height: 100%;
      float: right;
    }
  }

  .faq-slider, .image-slider {
    @include container-size($main-container);
    & >div{
      margin-bottom: 0;
      margin-top: 50px;
      font-size: $font-size-h2;
    }
  }
  app-cards-social-container{
    @include container-size($main-container);
    display: block;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #homePage {
    .larger-devices{
      display: none;
    }
    .mobile-devices{
      display: block;
    }
    .contact{
      @include container-size(80%);
      height: auto;
      .contact-info{
        width: 100%;
        height: 100%;
        float: none;
      }
      .maps{
        width: 100%;
        height: 300px;
        float: none;
      }
    }
    .faq-slider {
      width: 95%;
      & >div{
        font-size: $font-size-h3;
      }
    }
    .image-slider {
      width: 100%;
      & >div{
        font-size: $font-size-h3;
        margin-left: 2.5%;
      }
    }
    app-cards-social-container{
      width: 90%;
      display: block;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #homePage {
    .contact{
      height: 250px;
      margin-top: 50px;
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #homePage {
    .contact{
      height: 300px;
      margin-top: 50px;
      width: 90%;
    }
    .faq-slider {
      width: 90%;
      & >div{
        font-size: $font-size-h3;
      }
    }
    .image-slider {
      width: 90%;
      & >div{
        font-size: $font-size-h3;
        margin-left: 2.5%;
      }
    }
    app-cards-social-container{
      width: 90%;
      display: block;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #homePage {
    .contact{
      height: 300px;
      margin-top: 50px;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}