@import "../../../../style/mixins";
@import "../../../../style/variables";

#content-container{
  @include container-size($main-container);
  margin-top: 80px;
  position: relative;
  margin-bottom: 50px;
  line-height: 1;
  #page{
    .heading {
      position: relative;
      margin-bottom: 40px;
      & > div {
        display: inline-block;
      }
      .title {
        width: 65%;
        h2 {
          font-size: $font-size-h2;
          margin: 0 0 10px;
        }
        span {
          color: gray;
          font-size: $font-size-h4;
        }
      }
    }

    .side-bar{
      width: 25%;
      display: inline-block;
      text-align: right;
      .submenu{
        .submenu-item{
          padding: 15px 5px;
          position: relative;
          font-weight: 600;
          cursor: pointer;
          border-bottom: 1px solid lightgrey;
          a{
            text-decoration: none;
            color: $text-color-default;
          }
          &:hover{
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
          }
          &:last-child{
            border: 0;
          }
        }
      }
    }
    .content-container{
      width: 66%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      left: 4%;
      line-height: 1.2;
    }
  }
}

:host /deep/ .content-container{
  .content{
    a{
      text-decoration: none;
      color: $color-link-secondary;
      &:hover{
        color: $color-link-secondary-hover;
      }
    }
    & >h2{
      margin-top: 0;
      font-size: $font-size-h2;
    }
    & >p{
      & >h2{
        font-weight: 600;
      }
    }
  }
}