<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>
<app-header  *ngIf="!pageNotFound"></app-header>

<div *ngIf="!pageNotFound" id="content-container">
  <div class="search-bar">
    <h2>Search THS associations and chapters</h2>
    <form (ngSubmit)="submitSearch()" #searchForm [ngClass]="{onFocus: searchOnFocus}" autocomplete="off">
      <div class="search">
        <input #searchField placeholder="Enter your search term" [(ngModel)]="searchTerm" name="searchInput" (focus)="toggleSearchFocus()" (blur)="toggleSearchFocus()" type="search" (keyup)="liveSearch($event)">
        <div class="mostSearchTerms">
          <span *ngFor="let term of mostSearchTerms" (click)="selectTerm(term)">{{term}}</span>
        </div>
      </div>
      <input class="submit" type="submit" value="Search">
    </form>
  </div>

  <div class="filters">
    <div class="item" [ngClass]="{'selected': showAssociations}" (click)="displayAssociations()">Associations</div>
    <div class="item" [ngClass]="{'selected': showChapters}" (click)="displayChapters()">Chapters</div>
  </div>

  <div class="results-container">
    <div class="layout">
      <div [ngClass]="{'selected': layout_grid}" (click)="switchLayout('grid')"><i class="material-icons">grid_on</i> Grid</div>
      <div [ngClass]="{'selected': layout_list}" (click)="switchLayout('list')"><i class="material-icons">list</i> List</div>
    </div>
      <div *ngIf="noResults" class="noResult">No results found!</div>
    <div *ngIf="showAssociations && associationResults.length !== 0">
        <h1 class="section_header">Associations</h1>
      <div *ngIf="layout_grid" class="grid">
        <div *ngFor="let s of associations" class="section">
          <label *ngIf="s.associations.length !== 0">{{s.category}}</label>
          <div class="items">
            <div *ngFor="let item of s.associations" class="item" (click)="showAssociationInPopup(item)">
              <div class="image-wrapper" [style.backgroundImage]="'url(' + item.image + ')'"></div>
              <div class="text">
                <h3>{{item.title}}</h3>
                <p [innerHTML]="item.description | cardText:95"></p>
              </div>
            </div>
          </div>
          <app-loader *ngIf="documentsLoading"></app-loader>
          <!--        <p *ngIf="documentsLoading">Loading...</p>
                  <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No documents found for "{{searchTerm}}"!</p>-->
        </div>
      </div>
      <div *ngIf="layout_list" class="list">
        <div *ngFor="let s of associations" class="section">
          <label>{{s.category}}</label>
          <div class="items">
            <div *ngFor="let item of s.associations" class="item" (click)="showAssociationInPopup(item)">
              <h4>{{item.title}}</h4>
              <i class="material-icons">forward</i>
            </div>
          </div>
          <app-loader *ngIf="documentsLoading"></app-loader>
          <!--        <p *ngIf="documentsLoading">Loading...</p>
                  <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No documents found for "{{searchTerm}}"!</p>-->
        </div>
      </div>
    </div>

    <div *ngIf="showChapters && chapterResults.length !== 0">
        <h1 class="section_header">Chapters</h1>
      <div *ngIf="layout_grid" class="grid">
        <div class="section">
          <div class="items">
            <div *ngFor="let item of chapterResults" class="item" (click)="showAssociationInPopup(item)">
              <div class="image-wrapper" [style.backgroundImage]="'url(' + item.image + ')'"></div>
              <div class="text">
                <h3>{{item.title}}</h3>
                <p [innerHTML]="item.description | cardText:95"></p>
              </div>
            </div>
          </div>
          <app-loader *ngIf="documentsLoading"></app-loader>
          <!--        <p *ngIf="documentsLoading">Loading...</p>
                  <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No documents found for "{{searchTerm}}"!</p>-->
        </div>
      </div>
      <div *ngIf="layout_list" class="list">
        <div class="section">
          <div class="items">
            <div *ngFor="let item of chapterResults" class="item" (click)="showAssociationInPopup(item)">
              <h4>{{item.title}}</h4>
              <i class="material-icons">forward</i>
            </div>
          </div>
          <app-loader *ngIf="documentsLoading"></app-loader>
          <!--        <p *ngIf="documentsLoading">Loading...</p>
                  <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No documents found for "{{searchTerm}}"!</p>-->
        </div>
      </div>
    </div>

  </div>
</div>
