<app-header></app-header>

<div id="content-container">
  <div class="search-bar">
    <h2>Search THS Documents</h2>
    <form (ngSubmit)="submitSearch()" #searchForm [ngClass]="{onFocus: searchOnFocus}" autocomplete="off">
      <div class="search">
        <input placeholder="Enter your search term" [(ngModel)]="searchTerm" name="searchInput" (focus)="toggleSearchFocus()" (blur)="toggleSearchFocus()" type="search" (keyup)="liveSearch($event)">
        <div class="mostSearchTerms">
          <span *ngFor="let term of mostSearchTerms" (click)="selectTerm(term)">{{term}}</span>
        </div>
      </div>
      <div *ngIf="showResultsDropdown && searchTerm !== ''" class="resultsDropdownList">
        <div class="section">
          <!--          <div class="heading">
                      <span class="numberOfResults">Showing 1-20 of {{documentResults.length}} hits</span>
                      <span class="sortBy">Sort by <strong>Published</strong> Relevance</span>
                    </div>-->
          <div *ngFor="let d of documentResults" class="item">
            <div class="left-content">
              <a *ngFor="let c of d.categories" routerLink="/posts/{{c.slug}}">{{c.name}}</a>
            </div>
            <div class="right-content">
              <h4 (click)="goToPage(d.link)">{{d.title}}</h4>
              <!--<p [innerHTML]="d.content | cardText:100"></p>-->
            </div>
          </div>
          <p *ngIf="documentsLoading">Loading...</p>
          <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No posts found for "{{searchTerm}}"!</p>
        </div>
      </div>
      <div class="filter">
        <div #filter_icon class="options-icon" (click)="toggleFilter()">
          <i class="material-icons">more_vert</i>
        </div>
        <div *ngIf="showFilterOptions" class="options">
          <div class="option" (click)="toggleCheckbox('posts')">
            <div class="checkbox"><i *ngIf="postsChecked" class="material-icons">check</i></div>
            <span>Posts</span>
          </div>
          <div class="option" (click)="toggleCheckbox('page')">
            <div class="checkbox"><i *ngIf="pageChecked" class="material-icons">check</i></div>
            <span>Page</span>
          </div>
          <div class="option" (click)="toggleCheckbox('faq')">
            <div class="checkbox"><i *ngIf="faqChecked" class="material-icons">check</i></div>
            <span>FAQ</span>
          </div>
        </div>
      </div>
      <input class="submit" type="submit" value="Search">
    </form>
  </div>

  <div class="filters">
    <div class="item selected">Associations</div>
    <div class="item">Chapters</div>
  </div>

  <div class="results-container">
    <div class="layout">
      <div [ngClass]="{'selected': layout_grid}" (click)="switchLayout('grid')"><i class="material-icons">grid_on</i> Grid</div>
      <div [ngClass]="{'selected': layout_list}" (click)="switchLayout('list')"><i class="material-icons">list</i> List</div>
    </div>
    <div *ngIf="showResults && layout_grid" class="grid">
      <div class="section">
        <label>Category 2</label>
        <div class="items">
          <div *ngFor="let item of associationResults" class="item">
            <img src="{{item.image}}">
            <div class="text">
              <h2>{{item.title}}</h2>
              <p [innerHTML]="item.description"></p>
            </div>
          </div>
        </div>
        <!--        <p *ngIf="documentsLoading">Loading...</p>
                <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No documents found for "{{searchTerm}}"!</p>-->
      </div>
    </div>
    <div *ngIf="showResults && layout_list" class="list">
      <div class="section">
        <label>Category 1</label>
        <div class="items">
          <div class="item">
            <h4>Title</h4>
            <i class="material-icons">forward</i>
          </div>
          <div class="item">
            <h4>Title</h4>
            <i class="material-icons">forward</i>
          </div>
          <div class="item">
            <h4>Title</h4>
            <i class="material-icons">forward</i>
          </div>
          <div class="item">
            <h4>Title</h4>
            <i class="material-icons">forward</i>
          </div>
        </div>
<!--        <p *ngIf="documentsLoading">Loading...</p>
        <p *ngIf="!documentsLoading && documentResults.length === 0" class="notResult">No documents found for "{{searchTerm}}"!</p>-->
      </div>
    </div>
  </div>
</div>
