@import "../../../../style/utilities";
.freeze-submenu-bar {
  @include freeze-submenu-bar;
}
.submenu-bar {
  @include submenu-bar;
}
.mobile {
  display: none;
}
.header {
  max-height: 350px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .default-header {
    width: 100%;
    height: 224px;
    background-color: $bg-color-primary;
  }
}
#content-container {
  box-shadow: 0 1px 3px #b2b2b2;
  @include container-size($main-container);
  position: relative;
  margin-bottom: 50px;
  line-height: 1;
  max-width: 1600px;
  margin: 0 auto;
  background: white;
  top: -150px;
  border-radius: 15px;
  padding: 50px;
  .larger-devices {
    display: inline-block;
  }
  #page {
    margin-top: 10px;
    .heading {
      position: relative;
      margin-bottom: 40px;
      padding-top: 20px;
      & > div {
        display: inline-block;
      }
      .title {
        width: 65%;
        h2 {
          font-size: $font-size-h2;
          margin: 0 0 10px;
        }
        span {
          color: gray;
          font-size: $font-size-h4;
        }
      }
    }

    .side-bar {
      width: 25%;
      display: inline-block;
      text-align: left;

      .submenu {
        margin-bottom: 20px;
        .submenu-item {
          padding: 15px 5px;
          position: relative;
          font-weight: 600;
          cursor: pointer;
          border-bottom: 1px solid lightgrey;
          a {
            text-decoration: none;
            color: $text-color-default;
          }
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
    .content-container {
      width: 70%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      line-height: 1.2;
      margin-left: 4%;
      .divider {
        border-top: 1px solid gray;
      }
      .submenu-bar {
        text-align: center;
        position: relative;
        padding: 10px 0;
        .submenu-item {
          width: 20%;
          height: 80px;
          background-color: #f7f7f7;
          display: inline-block;
          margin: 20px 5%;
          position: relative;
          cursor: pointer;
          span {
            @include center-content(50%, 50%);
          }
        }
      }
      .article-footer {
        position: relative;
        font-size: 14px;
        border-top: 1px solid #cac8c8;
        padding: 25px 0;
        margin: 0;
        dt,
        dd {
          line-height: 1.42857;
        }
        dt {
          font-weight: bold;
        }
        dd {
          margin-left: 0;
          a {
            text-decoration: none;
            color: $color-link-secondary;
            &:hover {
              color: $color-link-secondary-hover;
            }
          }
        }
        dl {
          margin-top: 0;
          margin-bottom: 0;
        }
        .dl-horizontal dt {
          text-align: left;
        }
        .dl-horizontal dd {
          margin-bottom: 12px;
        }
      }
      .article-footer .dl-in-article-footer dt,
      .article-footer-news .dl-in-article-footer dt {
        width: 100px;
      }
      .content {
        margin-bottom: 40px;
      }
    }
  }
}

:host /deep/ .content-container {
  .content {
    > h1 {
      font-size: $font-size-h3;
    }
    a {
      text-decoration: none;
      color: $color-link-secondary;
      &:hover {
        color: $color-link-secondary-hover;
      }
    }
    & > h2 {
      font-size: $font-size-h2;
    }
    & > p {
      & > h2 {
        font-weight: 600;
      }
    }
    video {
      width: 100% !important;
      height: auto !important;
    }
  }
}

:host /deep/ table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  td {
    border: 1px solid lightgray;
    padding: 10px;
  }
}

:host /deep/ .showbox {
  padding-bottom: 200px !important;
  padding-top: 250px !important;
}

:host /deep/ #join-us {
  margin-bottom: 35px;
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .submenu-bar {
    font-size: 0.9em;
    // top: 110px;
    width: 97%;
    margin-left: 1.5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 24px 1px -24px #b2b2b2;
    .material-icons {
      font-size: 20px;
    }
  }
  .mobile {
    display: block;
  }
  #content-container {
    width: 97%;
    padding: 40px 10px;
    margin-top: 0;
    .larger-devices {
      display: none !important;
    }
    #page {
      width: 90%;
      margin-left: 5%;
      .heading {
        margin-bottom: 0;
        .title {
          width: 100%;
          h2 {
            font-size: $font-size-h3;
          }
        }
      }
      .content-container {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .submenu-bar {
    font-size: 0.9em;
    // top: 110px;
    width: 97%;
    margin-left: 1.5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 24px 1px -24px #b2b2b2;
    .material-icons {
      font-size: 20px;
    }
  }
  .mobile {
    display: block;
  }
  #content-container {
    width: 97%;
    margin-top: 0;
    .larger-devices {
      display: none !important;
    }
    #page {
      width: 90%;
      margin-left: 5%;
      .heading {
        margin-bottom: 0;
        .title {
          width: 100%;
          h2 {
            font-size: $font-size-h3;
          }
        }
      }
      .content-container {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
  .submenu-bar {
    .selected-item {
      width: 60%;
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .submenu-bar {
    font-size: 0.9em;
    // top: 110px;
    width: 97%;
    margin-left: 1.5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 24px 1px -24px #b2b2b2;
    .material-icons {
      font-size: 20px;
    }
  }
  .mobile {
    display: none;
  }
  #content-container {
    width: 97%;
    .larger-devices {
      display: inline-block !important;
    }
    #page {
      .heading {
        .title {
          width: 100%;
          h2 {
            font-size: $font-size-h3;
          }
        }
      }
      .side-bar {
        width: 30%;
      }
      .content-container {
        width: 65%;
      }
    }
  }
  :host /deep/ #join-us {
    font-size: $font-size-h6;
    h1 {
      font-size: $font-size-h2;
    }
    .button {
      font-size: $font-size-h6;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  .submenu-bar {
    font-size: 0.9em;
    // top: 110px;
    width: 97%;
    margin-left: 1.5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 24px 1px -24px #b2b2b2;
    .material-icons {
      font-size: 20px;
    }
  }
  .mobile {
    display: none;
  }
  #content-container {
    width: 90%;
    .larger-devices {
      display: inline-block !important;
    }
    #page {
      .heading {
        .title {
          width: 100%;
          h2 {
            font-size: $font-size-h3;
          }
        }
      }
      .side-bar {
        width: 30%;
      }
      .content-container {
        width: 65%;
        .article-footer {
          .dl-horizontal dt {
            float: left;
            width: 160px;
            clear: left;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 5px;
          }
        }
      }
    }
  }
  :host /deep/ #join-us {
    font-size: $font-size-h6;
    h1 {
      font-size: $font-size-h2;
    }
    .button {
      font-size: $font-size-h6;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
  #content-container {
    .content-container {
      .article-footer {
        .dl-horizontal dt {
          float: left;
          width: 160px;
          clear: left;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 5px;
        }
      }
    }
  }
}
