<div *ngIf="online" (click)="hideAllInfoBox()">

    <div class="page-wrapper">
        <div #page class="page">
            <app-notification-bar></app-notification-bar>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
    <app-popup-window></app-popup-window>
    <app-select-slider></app-select-slider>
</div>

<div *ngIf="!online" class="non-internet">
    <div>
        <img src="../assets/images/no-internet.png">
        <h2>Unable to connect to the Internet</h2>
    </div>
</div>