@import "../style/global";
@import "../style/utilities";

h1{
  color: green;
}

.page{
  position: relative;
  width: 100%;
  top: 0;
  transition: top 0.5s ease;
}

.page-wrapper{
  position: relative;
}

.non-internet{
  width: 100vw;
  height: 100vh;
  >div{
    @include center-content(50%, 50%);
    text-align: center;
    color: #6c6b6b;
  }
}