<div *ngIf="!no_internet" (click)="hideAllInfoBox()">

    <div class="page-wrapper">
        <div #page class="page">
            <app-header></app-header>
            <router-outlet></router-outlet>
            <app-notification-bar></app-notification-bar>
            <app-footer></app-footer>
        </div>
        <div tabindex="0" aria-hidden="true" style="" class="feedback-button">
            <a href="http://goo.gl/forms/znyZ6DWkIs" target="_blank">
                <img src="../assets/images/feedback.png" width="38" height="94">
            </a>
        </div>
    </div>
    <app-popup-window></app-popup-window>
    <app-select-slider></app-select-slider>
</div>

<div *ngIf="no_internet" class="non-internet">
    <div>
        <img src="../assets/images/no-internet.png">
        <h2>Unable to connect to the Internet</h2>
    </div>
</div>