@import "../style/global";
@import "../style/utilities";

h1{
  color: green;
}

.page{
  position: relative;
  width: 100%;
  top: 0;
}

.page-wrapper{
  position: relative;
  .feedback-button{
    top: 67%;
    margin-top: -47px;
    position: fixed;
    width: 38px;
    height: 94px;
    z-index: 2;
    right: 0;
  }
}

.non-internet{
  width: 100vw;
  height: 100vh;
  >div{
    @include center-content(50%, 50%);
    text-align: center;
    color: #6c6b6b;
  }
}