<div class="header">
  <div class="default-header"></div>
</div>
<div *ngIf="!pageNotFound" id="restaurant">
  <h1>
    {{ lang === "en" ? "Restaurant and Café" : "Restauranger och Caféer" }}
  </h1>
  <app-loader *ngIf="loading"></app-loader>
  <div *ngIf="!loading" class="gallery larger-devices">
    <div
      *ngFor="let item of restaurants; let i = index"
      class="g-item"
      [ngClass]="{ selected: restaurant_index === i }"
      (click)="showRestaurant(i)"
      [style.backgroundImage]="'url(' + item.imageUrl + ')'"
    >
      <div class="text">
        <h2>{{ item.title }}</h2>
        <p [innerHTML]="item.description | cardText: 50"></p>
      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="gallery mobile">
    <div
      #slides_wrapper
      class="slides-wrapper mobile"
      [style.width]="restaurants?.length * 86.66 + '%'"
      (touchstart)="swipe($event, 'start')"
      (touchend)="swipe($event, 'end')"
    >
      <div
        *ngFor="let item of restaurants; let i = index"
        class="g-item"
        [ngClass]="{ selected: item_onfocus_index === i }"
        [style.backgroundImage]="'url(' + item.imageUrl + ')'"
      >
        <div class="text">
          <h2>{{ item.title }}</h2>
          <p [innerHTML]="item.description | cardText: 50"></p>
        </div>
      </div>
    </div>
    <div class="schedule">
      <div class="description">
        <h2 class="mobile" *ngIf="restaurants">
          {{ restaurants[item_onfocus_index]?.title }}
        </h2>
        <p [innerHTML]="restaurants[item_onfocus_index]?.description"></p>
      </div>
      <div class="menu-wrapper">
        <div *ngIf="menuFullText !== null" class="menu-calendar">
          <div>
            <div
              [ngClass]="{ selected: selected_day === 'Monday' }"
              (click)="changeDay('Monday')"
            >
              {{ lang === "en" ? "Monday" : "Måndag" }}
            </div>
            <div
              [ngClass]="{ selected: selected_day === 'Tuesday' }"
              (click)="changeDay('Tuesday')"
            >
              {{ lang === "en" ? "Tuesday" : "Tisdag" }}
            </div>
            <div
              [ngClass]="{ selected: selected_day === 'Wednesday' }"
              (click)="changeDay('Wednesday')"
            >
              {{ lang === "en" ? "Wednesday" : "Onsdag" }}
            </div>
            <div
              [ngClass]="{ selected: selected_day === 'Thursday' }"
              (click)="changeDay('Thursday')"
            >
              {{ lang === "en" ? "Thursday" : "Torsdag" }}
            </div>
            <div
              [ngClass]="{ selected: selected_day === 'Friday' }"
              (click)="changeDay('Friday')"
            >
              {{ lang === "en" ? "Friday" : "Fredag" }}
            </div>
          </div>
        </div>
        <!--<div class="options">
          <div>Lunch {{lunch?.serving_time}}</div>
          <div>A la carté {{a_la_carte?.serving_time}}</div>
        </div>-->
        <div class="menu-container">
          <h2 *ngIf="menuFullText !== null">
            Lunch
            {{
              lang === "en"
                ? "Week " + getWeekNumber()
                : "Vecka " + getWeekNumber()
            }}
          </h2>
          <p [innerHTML]="menuFullText"></p>
          <h2 *ngIf="restaurants[item_onfocus_index]?.weekly_menu !== null">
            {{ lang === "en" ? "This week's menu" : "Veckans meny" }}
          </h2>
          <div
            [innerHTML]="
              restaurants[item_onfocus_index]?.weekly_menu | keepHtml
            "
          ></div>
          <h2 *ngIf="restaurants[item_onfocus_index]?.bistro">
            {{ lang === "en" ? "Bistro" : "Bistro" }}
          </h2>
          <div
            [innerHTML]="restaurants[item_onfocus_index]?.bistro | keepHtml"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showSchedule && !loading" class="schedule larger-devices">
    <!--<div class="options">
      <div>Lunch {{lunch?.serving_time}}</div>
      <div>A la carté {{a_la_carte?.serving_time}}</div>
    </div>-->

    <div class="description">
      <h2>{{ restaurants[restaurant_index]?.title }}</h2>
      <p [innerHTML]="restaurants[restaurant_index]?.description"></p>
    </div>
    <div class="menu-wrapper">
      <div *ngIf="menuFullText !== null" class="menu-calendar">
        <div
          [ngClass]="{ selected: selected_day === 'Monday' }"
          (click)="changeDay('Monday')"
        >
          {{ lang === "en" ? "Monday" : "Måndag" }}
        </div>
        <div
          [ngClass]="{ selected: selected_day === 'Tuesday' }"
          (click)="changeDay('Tuesday')"
        >
          {{ lang === "en" ? "Tuesday" : "Tisdag" }}
        </div>
        <div
          [ngClass]="{ selected: selected_day === 'Wednesday' }"
          (click)="changeDay('Wednesday')"
        >
          {{ lang === "en" ? "Wednesday" : "Onsdag" }}
        </div>
        <div
          [ngClass]="{ selected: selected_day === 'Thursday' }"
          (click)="changeDay('Thursday')"
        >
          {{ lang === "en" ? "Thursday" : "Torsdag" }}
        </div>
        <div
          [ngClass]="{ selected: selected_day === 'Friday' }"
          (click)="changeDay('Friday')"
        >
          {{ lang === "en" ? "Friday" : "Fredag" }}
        </div>
      </div>
      <div class="menu-container">
        <h2 *ngIf="menuFullText !== null">
          Lunch
          {{
            lang === "en"
              ? "Week " + getWeekNumber()
              : "Vecka " + getWeekNumber()
          }}
        </h2>
        <p [innerHTML]="menuFullText"></p>
        <h2 *ngIf="restaurants[restaurant_index]?.weekly_menu !== null">
          {{ lang === "en" ? "This week's menu" : "Veckans meny" }}
        </h2>
        <div
          [innerHTML]="restaurants[restaurant_index]?.weekly_menu | keepHtml"
        ></div>
        <h2 *ngIf="restaurants[restaurant_index]?.bistro">
          {{ lang === "en" ? "Bistro" : "Bistro" }}
        </h2>
        <div
          [innerHTML]="restaurants[restaurant_index]?.bistro | keepHtml"
        ></div>
      </div>
    </div>
  </div>
</div>

<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>
