<div class="header" *ngIf="!pageNotFound">
  <div class="default-header"></div>
</div>
<div *ngIf="!pageNotFound" id="restaurant">
  <app-loader *ngIf="loading"></app-loader>
  <div *ngIf="!loading" class="gallery larger-devices">
    <div
      *ngFor="let item of restaurants; let i = index"
      class="g-item"
      [ngClass]="{ selected: restaurant_index === i }"
      (click)="showRestaurant(i)"
      [style.backgroundImage]="'url(' + item.imageUrl + ')'"
    >
      <div class="text">
        <h2>{{ item.title }}</h2>
        <p [innerHTML]="item.description | cardText: 70"></p>
      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="gallery mobile">
    <div
      #slides_wrapper
      class="slides-wrapper mobile"
      [style.width]="restaurants?.length * 86.66 + '%'"
      (touchstart)="swipe($event, 'start', '')"
      (touchend)="swipe($event, 'end', '')"
    >
      <div
        *ngFor="let item of restaurants; let i = index"
        class="g-item"
        [ngClass]="{ selected: item_onfocus_index === i }"
        [style.backgroundImage]="'url(' + item.imageUrl + ')'"
      >
        <div class="text">
          <h2>{{ item.title }}</h2>
        </div>
      </div>
    </div>
    <div class="schedule">
      <div class="description">
        <p [innerHTML]="restaurants[restaurant_index]?.description"></p>
      </div>
      <div class="description">
        <h2 class="mobile" *ngIf="restaurants">
          {{ title }}
        </h2>
        <p [innerHTML]="description"></p>
      </div>
      <div class="menu-wrapper">
        <div *ngIf="menuFullText !== null" class="menu-calendar">
          <div class="menu-select-container">
            <div
              class="menu-select"
              [ngClass]="{ selected: selected_day === 'Monday' }"
              (click)="changeDay('Monday')"
            >
              {{ lang === "en" ? "Monday" : "Måndag" }}
            </div>
            <div
              class="menu-select"
              [ngClass]="{ selected: selected_day === 'Tuesday' }"
              (click)="changeDay('Tuesday')"
            >
              {{ lang === "en" ? "Tuesday" : "Tisdag" }}
            </div>
            <div
              class="menu-select"
              [ngClass]="{ selected: selected_day === 'Wednesday' }"
              (click)="changeDay('Wednesday')"
            >
              {{ lang === "en" ? "Wednesday" : "Onsdag" }}
            </div>
            <div
              class="menu-select"
              [ngClass]="{ selected: selected_day === 'Thursday' }"
              (click)="changeDay('Thursday')"
            >
              {{ lang === "en" ? "Thursday" : "Torsdag" }}
            </div>
            <div
              class="menu-select"
              [ngClass]="{ selected: selected_day === 'Friday' }"
              (click)="changeDay('Friday')"
            >
              {{ lang === "en" ? "Friday" : "Fredag" }}
            </div>
          </div>
        </div>
        <!--<div class="options">
          <div>Lunch {{lunch?.serving_time}}</div>
          <div>A la carté {{a_la_carte?.serving_time}}</div>
        </div>-->
        <div class="menu-container">
          <h2 *ngIf="menuFullText !== null && lang === 'en'">
            {{ selected_day === "Friday" ? "Friday," : "" }}
            {{ selected_day === "Thursday" ? "Thursday," : "" }}
            {{ selected_day === "Wednesday" ? "Wednesday," : "" }}
            {{ selected_day === "Tuesday" ? "Tuesday," : "" }}
            {{ selected_day === "Monday" ? "Monday," : "" }}
            {{ getDate() }}
          </h2>
          <p *ngIf="menuFullText !== null && lang === 'en'">
            {{ "week " + getWeekNumber() }}
          </p>
          <h2 *ngIf="menuFullText !== null && lang === 'sv'">
            {{ selected_day === "Friday" ? "Fredag," : "" }}
            {{ selected_day === "Thursday" ? "Torsdag," : "" }}
            {{ selected_day === "Wednesday" ? "Onsdag," : "" }}
            {{ selected_day === "Tuesday" ? "Tisdag," : "" }}
            {{ selected_day === "Monday" ? "Måndag," : "" }}
            {{ getDate() }}
          </h2>
          <p *ngIf="menuFullText !== null && lang === 'sv'">
            {{ "vecka " + getWeekNumber() }}
          </p>
          <div [innerHTML]="menuFullText"></div>
          <h2 *ngIf="restaurants[item_onfocus_index]?.weekly_menu !== null">
            {{ lang === "en" ? "This week's menu" : "Veckans meny" }}
          </h2>
          <div
            [innerHTML]="
              restaurants[item_onfocus_index]?.weekly_menu | keepHtml
            "
          ></div>
          <h2 *ngIf="restaurants[item_onfocus_index]?.bistro">
            {{ lang === "en" ? "Bistro" : "Bistro" }}
          </h2>
          <div
            [innerHTML]="restaurants[item_onfocus_index]?.bistro | keepHtml"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="schedule larger-devices">
    <!--<div class="options">
      <div>Lunch {{lunch?.serving_time}}</div>
      <div>A la carté {{a_la_carte?.serving_time}}</div>
    </div>-->

    <div class="description">
      <h2>{{ restaurants[restaurant_index]?.title }}</h2>
      <p [innerHTML]="restaurants[restaurant_index]?.description"></p>
      <div style="padding-top:10%;width:205px;display:inline-block;margin:5px;">
        <blockquote
          class="instagram-media"
          data-instgrm-version="12"
          style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:205px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        >
          <div style="padding:16px;">
            <a
              href="https://www.instagram.com/p/BxPIRW8hHQ8/"
              style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
              target="_blank"
            >
              <div style="display:block; width:50px;"></div>
              <div style="padding-top: 8px;">
                <img src="assets/images/nymble-1.jpg" style="width:100%;" />
              </div>
              <div
                style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"
              >
                <div>
                  <div
                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"
                  ></div>
                  <div
                    style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"
                  ></div>
                  <div
                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"
                  ></div>
                </div>
                <div style="margin-left: 8px;">
                  <div
                    style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"
                  ></div>
                  <div
                    style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"
                  ></div>
                </div>
                <div style="margin-left: auto;">
                  <div
                    style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"
                  ></div>
                  <div
                    style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"
                  ></div>
                  <div
                    style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"
                  ></div>
                </div></div
            ></a>
            <p style=" margin:8px 0 0 0; padding:0 4px;">
              <a
                href="https://www.instagram.com/p/BxPIRW8hHQ8/"
                style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                target="_blank"
                >Havets Wallenbergare 🐟 #nymble #kth #lunch #fish
                #mashedpotatoes</a
              >
            </p>
          </div>
        </blockquote>
      </div>
      <div style="padding-top:10%;width:205px;display:inline-block;margin:5px;">
        <blockquote
          class="instagram-media"
          data-instgrm-version="12"
          style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:205px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        >
          <div style="padding:16px;">
            <a
              href="https://www.instagram.com/p/BwoZ5jZBzGW/"
              style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
              target="_blank"
            >
              <div style="display:block; width:50px;"></div>
              <div style="padding-top: 8px;">
                <img src="assets/images/nymble-2.jpg" style="width:100%;" />
              </div>
              <div
                style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"
              >
                <div>
                  <div
                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"
                  ></div>
                  <div
                    style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"
                  ></div>
                  <div
                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"
                  ></div>
                </div>
                <div style="margin-left: 8px;">
                  <div
                    style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"
                  ></div>
                  <div
                    style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"
                  ></div>
                </div>
                <div style="margin-left: auto;">
                  <div
                    style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"
                  ></div>
                  <div
                    style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"
                  ></div>
                  <div
                    style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"
                  ></div>
                </div></div
            ></a>
            <p style=" margin:8px 0 0 0; padding:0 4px;">
              <a
                href="https://www.instagram.com/p/BwoZ5jZBzGW/"
                style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                target="_blank"
                ><span
                  >Lunchmackor i #thscafe 🥑☀️ #salmonbagelm #grilledsandwich
                  #lunch
                </span></a
              >
            </p>
          </div>
        </blockquote>
      </div>
    </div>
    <div class="menu-wrapper">
      <div *ngIf="menuFullText !== null" class="menu-calendar">
        <div
          class="menu-select"
          [ngClass]="{ selected: selected_day === 'Monday' }"
          (click)="changeDay('Monday')"
        >
          {{ lang === "en" ? "Monday" : "Måndag" }}
        </div>
        <div
          class="menu-select"
          [ngClass]="{ selected: selected_day === 'Tuesday' }"
          (click)="changeDay('Tuesday')"
        >
          {{ lang === "en" ? "Tuesday" : "Tisdag" }}
        </div>
        <div
          class="menu-select"
          [ngClass]="{ selected: selected_day === 'Wednesday' }"
          (click)="changeDay('Wednesday')"
        >
          {{ lang === "en" ? "Wednesday" : "Onsdag" }}
        </div>
        <div
          class="menu-select"
          [ngClass]="{ selected: selected_day === 'Thursday' }"
          (click)="changeDay('Thursday')"
        >
          {{ lang === "en" ? "Thursday" : "Torsdag" }}
        </div>
        <div
          class="menu-select"
          [ngClass]="{ selected: selected_day === 'Friday' }"
          (click)="changeDay('Friday')"
        >
          {{ lang === "en" ? "Friday" : "Fredag" }}
        </div>
      </div>
      <div class="menu-container">
        <h2 *ngIf="menuFullText !== null && lang === 'en'">
          {{ selected_day === "Friday" ? "Friday," : "" }}
          {{ selected_day === "Thursday" ? "Thursday," : "" }}
          {{ selected_day === "Wednesday" ? "Wednesday," : "" }}
          {{ selected_day === "Tuesday" ? "Tuesday," : "" }}
          {{ selected_day === "Monday" ? "Monday," : "" }}
          {{ getDate() }}
        </h2>

        <h2 *ngIf="menuFullText !== null && lang === 'sv'">
          {{ selected_day === "Friday" ? "Fredag," : "" }}
          {{ selected_day === "Thursday" ? "Torsdag," : "" }}
          {{ selected_day === "Wednesday" ? "Onsdag," : "" }}
          {{ selected_day === "Tuesday" ? "Tisdag," : "" }}
          {{ selected_day === "Monday" ? "Måndag," : "" }}
          {{ getDate() }}
        </h2>
        <div class="menuFullText" [innerHTML]="menuFullText"></div>
        <h2 *ngIf="restaurants[restaurant_index]?.weekly_menu !== null">
          {{ lang === "en" ? "This week's menu" : "Veckans meny" }}
        </h2>
        <div
          [innerHTML]="restaurants[restaurant_index]?.weekly_menu | keepHtml"
        ></div>
        <h2 *ngIf="restaurants[restaurant_index]?.bistro">
          {{ lang === "en" ? "Bistro" : "Bistro" }}
        </h2>
        <div
          [innerHTML]="restaurants[restaurant_index]?.bistro | keepHtml"
        ></div>
      </div>
    </div>
  </div>
</div>

<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>
