<div class="categories">
    <div class="cat-wrapper">
        <div class="item" (click)="switchCalendar(-1)" [ngClass]="{'selected': selected_event_category === -1}">{{(lang === 'en' ? 'All' : 'Alla')}}</div>
        <div *ngFor="let c of ths_calendars, let i = index" class="item" (click)="switchCalendar(i)" [ngClass]="{'selected': selected_event_category === i}">{{(lang === 'en' ? c.title.en : c.title.sv)}}</div>
    </div>
</div>

<app-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate"
        [(lang)]="lang"
        (updateEvents)="fetchEvents()">
</app-calendar-header>
<app-loader *ngIf="e_loading"></app-loader>
<div class="scheme" *ngIf="events$ | async; else e_loading; let events">
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="eventClicked($event.event)">
        </mwl-calendar-month-view>
        <!--<mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [events]="events"
                (eventClicked)="eventClicked($event.event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [viewDate]="viewDate"
                [events]="events"
                (eventClicked)="eventClicked($event.event)">
        </mwl-calendar-day-view>-->
    </div>
</div>