@import "../../../style/utilities";

.categories{
  background: $bg-color-primary;
  height: auto;
  display: block;
  color: darkgray;
  font-size: $font-size-h6;
  overflow: hidden;
  .item{
    display: inline-block;
    padding:5px 7px;
    height: 100%;
    float: left;
    cursor: pointer;
    &:hover{
      border-bottom:2px solid white;
    }
  }
  .selected{
    color: #fff;
    border-bottom:2px solid white;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .categories {

  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .categories {

  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .categories {

  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  .categories {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}