/* ----------- Colors ---------- */
// Background colors
$bg-color-default: #efefef !default;
$bg-color-primary: #00406c !default;

// Text colors
$text-color-default: black !default;
$text-color-warning: #ff9600 !default;
$text-color-danger: red !default;
$text-color-danger: red !default;


/* ----------- Typography ----------- */
// Font types
$font-family-regular: "Times New Roman", Times, serif;
$font-family-title: "Times New Roman", Times, serif;

// Font sizes
$font-size-default: 0.875em !default;
$font-size-extraLarge: 4em;
$font-size-h1: 3em;
$font-size-h2: 2em;
$font-size-h3: 1.5em;
$font-size-h4: 1.1em;
$font-size-h5: 1em;
$font-size-h6: 0.9em;

// Font weights
$font-weight-regular: 600;
$font-weight-title: 800;


/* ----------- Layout ----------- */
// Header
$header-height: 200px;

// Footer
$footer-height: 350px;

// Card sizes
$card-size-width: 25%;
$card-size-height: 30%;
