<div class="header"></div>
<main id="site-content" role="main" tabindex="-1">
  <div class="page-container-responsive">
    <div class="row space-top-8 space-8">
      <div class="col-md-5 col-middle">
        <h1 class="text-jumbo text-ginormous hide-sm">Oops!</h1>
        <h2>We can't seem to find the page you're looking for.</h2>
        <h6>Error code: 404</h6>
        <ul class="list-unstyled">
          <li>Here are some helpful links instead:</li>
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-5 col-middle text-center">
        <img src="/assets/images/404-final.gif" width="313" height="428" />
      </div>
    </div>
  </div>
</main>
