@import "../../../style/utilities";

:host /deep/ header {
  background: none !important;
  background-color: $bg-color-primary !important;
  color: white !important;
  .container {
    border-bottom: 0 !important;
  }
}
.header {
  max-height: 350px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .default-header {
    width: 100%;
    height: 270px;
    background-color: $bg-color-primary;
  }
}
#content-container {
  box-shadow: 0 1px 3px #b2b2b2;
  @include container-size($main-container);
  position: relative;
  line-height: 1;
  padding-top: 100px;
  max-width: 1600px;
  margin: 0 auto;
  background: white;
  top: -150px;
  border-radius: 15px;
  padding: 50px;

  .center-vertically {
    margin: 200px 0;
  }

  .search-bar {
    height: auto;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    padding-top: 5px;
    > h2 {
      margin: 0;
      padding-top: 15px;
    }
    form {
      width: 720px;
      display: inline-block;
      margin: 10px 0 0;
      position: relative;
      .search {
        background: #fff;
        display: flex;
        z-index: 3;
        height: 50px;
        margin: 0 auto;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 1px 4px #b2b2b2;
        .arrow_forward {
          margin-top: 13px;
          color: lightgray;
          cursor: pointer;
        }
        input {
          -webkit-appearance: none;
          box-shadow: none !important;
          border: 0;
        }

        .searchInput {
          font-size: 1em;
          width: 94%;
          padding: 0 5px 0 15px;
          float: left;
        }
        .filter {
          display: inline-block;
          float: left;
          cursor: pointer;
          color: lightgrey;
          position: relative;
          width: 5%;
          .options-icon {
            width: 100%;
            height: 100%;
            > i {
              @include center-vertically(50%);
              position: relative !important;
              font-size: 2em;
            }
            &:hover {
              color: rgba(0, 108, 170, 0.62);
            }
          }
          .options {
            position: absolute;
            background-color: white;
            padding: 10px 20px;
            right: 0;
            text-align: left;
            width: 200px;
            top: 40px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            color: grey;
            border-radius: 15px;
            z-index: 1;
            margin-right: 15px;
            .option {
              margin: 15px 0;
              &:hover {
                text-decoration: underline;
              }
              .checkbox {
                display: inline-block;
                border: 1px solid lightgray;
                width: 25px;
                height: 25px;
                vertical-align: middle;
                //border-radius: 3px;
                margin-right: 10px;
                float: left;
                i {
                  line-height: 0.9;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
        .submit {
          display: inline-block;
          float: right;
          padding: 17px 38px;
          border: 0;
          background: none;
          cursor: pointer;
          width: 20%;
        }
      }
      .resultsDropdownList {
        left: 0;
        height: 350px;
        overflow-y: scroll;
        background-color: white;
        text-align: left;
        padding: 10px 20px;
        z-index: 1;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0 1px 3px #b2b2b2;
        margin-top: -5px;
        .section {
          > h3 {
            border-bottom: 1px solid lightgray;
            padding: 5px 0;
            margin: 10px 0;
          }
          .notResult {
            color: $text-color-brown;
            margin-bottom: 10px;
          }
          .item {
            margin-bottom: 22px;
            overflow: hidden;
            .left-content {
              width: 15%;
              height: auto;
              display: inline-block;
              vertical-align: top;
              margin-right: 3%;
              float: left;
              font-size: $font-size-h6;
              > span {
                display: block;
                color: $color-link;
                margin-bottom: 8px;
                line-height: 1;
              }
              > a {
                display: block;
                color: $color-link;
                margin-bottom: 8px;
                line-height: 1;
                text-decoration: none;
                &:hover {
                  color: $color-link-hover;
                }
              }
              .img-wrapper {
                width: 100%;
                height: 70px;
                background-color: lightgray;
                text-align: center;
                img {
                  width: inherit;
                  height: inherit;
                  cursor: pointer;
                }
              }
            }
            .right-content {
              display: inline-block;
              vertical-align: top;
              //padding: 0 10px;
              width: 100%;
              float: left;
              h4 {
                color: $color-link-secondary;
                cursor: pointer;
                margin: 5px 0;
                &:hover {
                  color: $color-link-secondary-hover;
                }
              }
            }
          }
        }
      }

      .mostSearchTerms {
        position: relative;
        overflow: hidden;
        width: 75%;
        text-align: left;
        margin-top: 5px;
        span {
          margin: 2px 25px 5px 0;
          cursor: pointer;
          border: 1px solid lightgray;
          border-radius: 10px;
          padding: 2px 5px;
          display: inline-block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .results-container {
    margin: 20px 0 70px;
    min-height: 300px;
    .section {
      > h3 {
        border-bottom: 1px solid lightgray;
        padding: 10px 0;
        margin-bottom: 10px;
      }
      .notResult {
        color: $text-color-brown;
        margin-bottom: 10px;
      }
      .item {
        overflow: hidden;
        .left-content {
          font-size: $font-size-h8;
          > span {
            margin-bottom: 10px;
            display: block;
            color: $color-link;
            line-height: 1;
          }
          > a {
            display: block;
            color: $color-link;
            margin-bottom: 8px;
            line-height: 1;
            text-decoration: none;
            &:hover {
              color: $color-link-hover;
            }
          }
          .img-wrapper {
            width: 100%;
            height: 100px;
            background-color: lightgray;
            text-align: center;
            img {
              width: inherit;
              height: inherit;
              cursor: pointer;
            }
          }
        }
        .right-content {
          margin-bottom: 15px;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          float: left;
          h4 {
            margin: 15px 0px;
            color: $color-link-secondary;
            cursor: pointer;
            &:hover {
              color: $color-link-secondary-hover;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(84, 84, 84, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 10px;
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  #content-container {
    width: 100%;
    padding: 50px 10px;
    .center-vertically {
      margin: 100px 0;
    }
    .search-bar {
      height: auto;
      padding-bottom: 20px;
      > h2 {
        padding: 15px;
        font-size: $font-size-h4;
      }
      form {
        width: 95%;
        .search {
          width: 100%;
          .searchInput {
            width: 100%;
          }
          .submit {
            width: 20%;
            padding: 17px 0;
          }
          .filter {
            width: 10%;
          }
        }
        .resultsDropdownList {
          padding: 10px;
          .section {
            h3 {
              font-size: 1em;
            }
            .item {
              margin-bottom: 15px;
              .left-content {
                display: none;
              }
              .right-content {
                padding: 0;
              }
            }
          }
        }
        .mostSearchTerms {
          width: 100%;
          span {
            margin: 3px 15px 5px 0;
          }
        }
      }
    }
    .results-container {
      padding: 0 10px;
      .section {
        .item {
          .left-content {
            width: 25%;
          }
          .right-content {
            width: 100%;
            h4 {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  #content-container {
    width: 100%;
    padding-top: 60px;
    .center-vertically {
      margin: 100px 0;
    }
    .search-bar {
      height: auto;
      padding-bottom: 20px;
      > h2 {
        padding: 15px;
        font-size: $font-size-h4;
      }
      form {
        width: 90%;
        margin: 0 5%;
        .search {
          width: 100%;
          .searchInput {
            width: 100%;
          }
          .submit {
            width: 20%;
            padding: 17px 0;
          }
          .filter {
            width: 10%;
          }
        }
        .resultsDropdownList {
          height: 220px;
          padding: 10px;
          .section {
            .item {
              margin-bottom: 15px;
              .left-content {
                display: none;
              }
              .right-content {
                padding: 0;
              }
            }
          }
        }
        .mostSearchTerms {
          width: 100%;
          span {
            margin: 3px 15px 5px 0;
          }
        }
      }
    }
    .results-container {
      padding: 0 10px;
      .section {
        .item {
          .left-content {
            width: 25%;
          }
          .right-content {
            width: 100%;
            h4 {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  #content-container {
    width: 100%;
    padding-top: 60px;
    .center-vertically {
      margin: 100px 0;
    }
    .search-bar {
      height: auto;
      padding-bottom: 20px;
      > h2 {
        padding: 15px;
        font-size: $font-size-h4;
      }
      form {
        width: 90%;
        margin: 0 5%;
        .search {
          width: 100%;
          .searchInput {
            width: 100%;
          }
          .submit {
            width: 20%;
            padding: 17px 0;
          }
          .filter {
            width: 10%;
          }
        }
        .resultsDropdownList {
          height: 250px;
          .section {
            .item {
              margin-bottom: 15px;
              .left-content {
                width: 25%;
              }
              .right-content {
                width: 100%;
                h4 {
                  margin-top: 0;
                }
              }
            }
          }
        }
        .mostSearchTerms {
          width: 100%;
          span {
            margin: 3px 15px 5px 0;
          }
        }
      }
    }
    .results-container {
      padding: 0 10px;
      .section {
        .item {
          .left-content {
            width: 25%;
          }
          .right-content {
            width: 100%;
            h4 {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  #content-container {
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
}
