@import "../../../style/utilities";

.background_layer{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

#search-menubar{
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  margin-bottom: 100px;

  .exit-btn{
    background-color: black;
    color: white;
    @include circle(30px);
    position: absolute;
    transform: rotate(-45deg);
    display: inline-block;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 1;
    i{
      margin: 0;
      @include center-vertically(50%);
      position: relative;
      line-height: 1.3;
      font-size: 15px;
    }
    i:first-child{
      margin-right: -3px;
      margin-left: 2px;
    }
  }

  form{
    @include container-size($main-container);
    height: 76px;
    position: relative;
    .search{
      @include center-vertically(50%);
      width: 100%;
      >i{
        position: absolute;
        @include center-vertically(50%);
        font-size: $font-size-h2;
      }
      >input{
        width: 100%;
        padding: 15px 5px 15px 35px;
        border: 0;
        display: inline-block;
        float: left;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.37);
        border-radius: 5px;
        font-size: $font-size-default;
      }
      .mostSearchTerms{
        position: absolute;
        left: 0;
        bottom: -27px;
        span{
          margin-right: 25px;
          cursor: pointer;
          border: 1px solid lightgray;
          border-radius: 10px;
          padding: 2px 5px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .resultsDropdownList{
    @include container-size($main-container);
    position: relative;
    margin-top: 40px;
    text-align: left;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
    .section{
      >h3{
        border-bottom: 1px solid lightgray;
        padding: 10px 0;
        margin-bottom: 10px;
      }
      .item{
        margin-bottom: 10px;
        overflow: hidden;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        .left-content{
          width: 15%;
          height: auto;
          display: inline-block;
          vertical-align: top;
          margin-right: 3%;
          float: left;
          font-size: $font-size-h6;
          >a{
            display: block;
            text-decoration: none;
            color: $color-link;
            margin-bottom: 8px;
            line-height: 1;
            &:hover{
              color: $color-link-hover;
            }
          }
          .img-wrapper{
            width: 80px;
            height: 50px;
            background-color: lightgray;
            text-align: center;
            img{
              width: inherit;
              height: inherit;
              cursor: pointer;
            }
          }
        }
        .right-content{
          display: inline-block;
          vertical-align: top;
          padding: 0 10px;
          width: 79%;
          float: left;
          h4{
            color: $color-link-secondary;
            cursor: pointer;
            &:hover{
              color: $color-link-secondary-hover;
            }
          }
        }
      }
    }

    .seeAll{
      margin: 30px 0;
      span{
        color: $color-link-secondary;
        cursor: pointer;
        &:hover{
          color: $color-link-secondary-hover;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .background_layer{

  }

  #search-menubar {

  }
}
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .background_layer{

  }

  #search-menubar {

  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .background_layer{

  }

  #search-menubar {

  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  .background_layer{

  }

  #search-menubar {

  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {

}