@import "../../../style/mixins";
@import "../../../style/variables";

.background_layer{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  z-index: 1;
}

#popup-window{
  @include container-size(70%);
  position: relative;
  margin-left: 15% !important;
  z-index: 1;
  background-color: $bg-color-default;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 100px;

  .layouts-container{
    position: relative;
    .exit-popup-btn{
      background-color: black;
      color: white;
      @include circle(50px);
      position: absolute;
      transform: rotate(-45deg);
      display: inline-block;
      right: 15px;
      top: 15px;
      cursor: pointer;
      z-index: 1;
      i{
        margin: 0;
        @include center-vertically(50%);
        position: relative;
      }
      i:first-child{
        margin-right: -4px;
        margin-left: 4px;
      }
    }

    .default-layout{
      .header-image{
        max-height: 450px;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        img{
          min-width: 100%;
          max-width: 100%;
          height: auto;
        }
        .header-color{
          width: 100%;
          height: 450px;
        }
        .default-header{
          width: 100%;
          height: 450px;
          background-color: $bg-color-primary;
        }
      }

      .content-container{
        @include container-size(70%);
        padding: 50px;
        background-color: $bg-color-default;
        position: relative;
        top: -150px;
        border-radius: 10px;
        box-shadow: 0 3px 5px #888888;
        h2{
          margin-top:0;
        }
        p{
          line-height: 1.3;
        }
      }

      .previous-post, .next-post{
        color: black;
        display: inline-block;
        position: absolute;
        bottom: 25px;
        cursor: pointer;
        .btn{
          @include circle(40px);
          border: 1px solid black;
          display: inline-block;
          text-align: center;
          i{
            @include center-vertically(50%);
            position: relative;
          }
        }
      }

      .previous-post{
        left: 15px;
      }

      .next-post{
        right: 15px;
      }
    }

    .event-layout{
      .header-image{
        max-height: 430px;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        img{
          min-width: 100%;
          max-width: 100%;
          height: auto;
        }
        .default-header{
          width: 100%;
          height: 450px;
          background-color: $bg-color-primary;
        }
      }

      .content-container{
        @include container-size(70%);
        padding: 50px;
        background-color: $bg-color-default;
        position: relative;
        border-radius: 10px;
        & >div{display: inline-block;}
        .date{
          width: 20%;
          font-size: $font-size-extraLarge;
          vertical-align: top;
          color: $bg-color-primary;
        }
        .description{
          width: 70%;
          margin-left: 50px;
          h2{
            margin-top:0;
          }
          p{
            line-height: 1.3;
          }
          .time, .location{
            font-size: $font-size-h5;
            color: gray;
          }
          .location{
            span{
              font-weight: 800;
            }
          }
          .creator{
            font-weight: 600;
          }
        }
      }
    }
  }
}

:host /deep/ blockquote{
  @include container-size(70%);
  border-left:2px solid gray;
  margin-top: 45px;
  margin-bottom: 25px;
  padding-left: 15px;
  line-height: 1.3;
}