<div *ngIf="showPopupWindow" id="popup-window">
  <div class="default-layout">
    <div class="exit-popup-btn" (click)="hide_popup_window()"><i class="material-icons">arrow_forward</i><i class="material-icons">arrow_back</i></div>
    <div class="header-image">
      <img *ngIf="page_data.acf.header_image" src="{{page_data.acf.header_image.url}}" alt="Header image">
      <div *ngIf="!page_data.acf.header_image && page_data.acf.header_color" class="header-color" [ngStyle]="{backgroundColor: page_data.acf.header_color}"></div>
      <div *ngIf="!page_data.acf.header_image && !page_data.acf.header_color" class="default-header"></div>
    </div>
    <div class="content-container">
      <h2 [innerHTML]="page_data.title.rendered"></h2>
      <p [innerHTML]="page_data.content.rendered"></p>
    </div>
    <div *ngIf="false" class="previous-post">
      <div class="btn"><i class="material-icons">keyboard_arrow_left</i></div>
      <span>Previous post</span>
    </div>
    <div *ngIf="false" class="next-post">
      <span>Next post</span>
      <div class="btn"><i class="material-icons">keyboard_arrow_right</i></div>
    </div>
  </div>
</div>
