@import "../../../style/utilities";

.exit-popup-btn-mobile {
  //@include exit-popup-btn-mobile;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 20px;
  display: none;
  .svg-close svg {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    fill: currentColor;
    stroke: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    color: inherit;
    margin: 17px;
  }
  .text-white {
    color: #fff;
  }
  .w-18 {
    border-radius: 9999px;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #53565a;
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  .background_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    z-index: 1;
    cursor: url(/assets/icons/icon-cursor-close.svg) 25 25, move;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #popup-window {
    @include container-size(70%);
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    overflow: hidden;
    animation-name: fadein;
    animation-duration: 0.9s;
    cursor: url(/assets/icons/icon-cursor-close.svg) 25 25, move;

    .layouts-container {
      position: relative;
      background-color: $bg-color-default;
      transition: margin 0.5s ease;
      border-radius: 7px;
      cursor: auto;
      .exit-popup-btn {
        background-color: black;
        color: white;
        @include circle(50px);
        position: absolute;
        transform: rotate(-45deg);
        display: inline-block;
        right: 15px;
        top: 15px;
        cursor: pointer;
        z-index: 1;
        i {
          margin: 0;
          @include center-vertically(50%);
          position: relative;
        }
        i:first-child {
          margin-right: -4px;
          margin-left: 4px;
        }
      }

      .default-layout {
        .detailsTopNav {
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 20px 20px;
          position: relative;
          background-color: #00406c;
          i {
            color: white;
          }
          button {
            cursor: pointer;
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background: transparent;

            line-height: normal;
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;
            -webkit-appearance: none;
          }
        }
        .header-image {
          max-height: 450px;
          min-height: 400px;
          overflow: hidden;
          img {
            min-width: 100%;
            max-width: 100%;
            height: auto;
          }
          .header-color {
            width: 100%;
            height: 450px;
          }
          .default-header {
            width: 100%;
            height: 450px;
            background-color: $bg-color-primary;
          }
        }

        .content-container {
          // @include container-size(70%);
          padding: 50px;
          background-color: $bg-color-default;
          position: relative;
          margin-top: 0 !important;
          top: 0;
          border-radius: 8px;
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          margin-top: 100px;
          transition: margin 0.5s ease;
          .article-footer {
            position: relative;
            font-size: 14px;
            border-top: 1px solid #cac8c8;
            padding: 25px 0;
            margin: 0;
            dt,
            dd {
              line-height: 1.42857;
            }
            dt {
              font-weight: bold;
            }
            dd {
              margin-left: 0;
              a {
                text-decoration: none;
                color: $color-link-secondary;
                &:hover {
                  color: $color-link-secondary-hover;
                }
              }
            }
            dl {
              margin-top: 0;
              margin-bottom: 0;
            }
            .dl-horizontal dt {
              text-align: left;
            }
            .dl-horizontal dd {
              margin-bottom: 12px;
            }
          }
          .article-footer .dl-in-article-footer dt,
          .article-footer-news .dl-in-article-footer dt {
            width: 100px;
          }
          h2 {
            margin-top: 0;
          }
          p {
            line-height: 1.3;
            margin-bottom: 50px;
          }
        }

        .previous-post,
        .next-post {
          color: black;
          display: inline-block;
          position: absolute;
          bottom: 25px;
          cursor: pointer;
          .btn {
            @include circle(40px);
            border: 1px solid black;
            display: inline-block;
            text-align: center;
            i {
              @include center-vertically(50%);
              position: relative;
            }
          }
        }

        .previous-post {
          left: 15px;
        }

        .next-post {
          right: 15px;
        }
      }

      .event-layout {
        .detailsTopNav {
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 20px 20px;
          position: relative;
          background-color: #00406c;
          i {
            color: white;
          }
          button {
            cursor: pointer;
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background: transparent;

            line-height: normal;
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;
            -webkit-appearance: none;
          }
        }
        .header-image {
          max-height: 430px;
          min-height: 400px;
          overflow: hidden;
          img {
            min-width: 100%;
            max-width: 100%;
            height: auto;
          }
          .default-header {
            width: 100%;
            height: 450px;
            background-color: $bg-color-primary;
          }
        }

        .content-container {
          @include container-size(70%);

          padding: 50px 20px;
          background-color: $bg-color-default;
          position: relative;
          border-radius: 10px;
          transition: margin 0.7s ease;
          margin-top: 0 !important;
          & > div {
            display: inline-block;
          }
          .date {
            width: 20%;
            font-size: $font-size-h1;
            vertical-align: top;
            color: $bg-color-primary;
            font-weight: $font-weight-bold;
          }
          .description {
            width: 100%;
            margin-left: 0px;
            text-align: left;
            label {
              text-transform: capitalize;
              color: gray;
              -ms-flex-align: center;
              align-items: center;
              display: -ms-flexbox;
              display: flex;
              font-size: 0.85em;
              i {
                font-size: 1.25em;
              }
            }
            h2 {
              margin-top: 0;
            }
            p {
              line-height: 1.3;
            }
            .text {
              white-space: pre-wrap !important;
            }
            .time,
            .location {
              font-size: $font-size-h5;
              color: gray;
            }
            .location {
              span {
                font-weight: 800;
              }
            }
            .creator {
              color: gray;
              font-size: 0.8em;
              font-weight: 400;
            }
          }
        }
      }
      .faq {
        .content-container {
          //padding-top: 100px !important;
          .description {
            width: 100% !important;
          }
        }
      }
      .association-layout {
        .detailsTopNav {
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 20px 20px;
          position: relative;
          background-color: #00406c;
          i {
            color: white;
          }
          button {
            cursor: pointer;
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background: transparent;

            line-height: normal;
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;
            -webkit-appearance: none;
          }
        }
        .header-image {
          max-height: 430px;
          min-height: 400px;
          overflow: hidden;

          img {
            min-width: 100%;
            max-width: 100%;
            height: auto;
          }
          .default-header {
            width: 100%;
            height: 450px;
            background-color: $bg-color-primary;
          }
        }

        .content-container {
          //@include container-size(90%);
          padding: 70px 0;
          background-color: $bg-color-default;
          position: relative;
          border-radius: 10px;
          margin-top: 0 !important;
          transition: margin 0.7s ease;
          & > div {
            display: inline-block;
          }
          .date {
            width: 20%;
            font-size: $font-size-extraLarge;
            vertical-align: top;
            color: $bg-color-primary;
          }
          .description {
            width: 60%;
            padding-left: 50px;
            padding-right: 50px;
            .label {
              color: gray;
              margin: 10px 0;
            }
            h2 {
              margin-top: 0;
            }
            p {
              line-height: 1.3;
            }
            .categories {
              > span {
                display: block;
                text-decoration: none;
                color: gray;
                margin-bottom: 10px;
                line-height: 1;
              }
            }
            .time,
            .location {
              font-size: $font-size-h5;
              color: gray;
            }
            .location {
              span {
                font-weight: 800;
              }
            }
            .creator {
              font-weight: 600;
            }
            .files {
              margin-top: 20px;
              .link_container {
                display: block;
                margin-bottom: 15px;
                h5 {
                  margin: 0 0 5px;
                }
                .download_link {
                  padding: 5px 15px;
                  box-shadow: 0 1px 3px #b2b2b2;
                  border-radius: 20px;
                  display: inline-block;
                  margin-right: 10px;
                  cursor: pointer;
                  i {
                    color: lightgrey;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
          .contact {
            width: 25%;
            background-color: #ffffffb3;
            border-radius: 15px;
            vertical-align: top;
            margin-left: 50px;
            text-align: center;
            padding: 20px;
            word-wrap: break-word;
            margin-top: 10px;
            h2 {
              margin: 0 0 10px;
            }
            p {
              text-align: left;
              span {
                color: gray;
                font-weight: $font-weight-normal;
              }
            }
            img {
              width: 50px;
              height: 50px;
              border-radius: 25px;
              margin-bottom: 10px;
            }
            .email {
              text-decoration: none;
              color: $color-link-secondary;
              &:hover {
                color: $color-link-secondary-hover;
              }
            }
          }
        }
      }
    }
  }
}

:host /deep/ blockquote {
  @include container-size(70%);
  border-left: 2px solid gray;
  margin-top: 45px;
  margin-bottom: 25px;
  padding-left: 15px;
  line-height: 1.3;
}

:host /deep/ .content-container {
  video {
    width: 100% !important;
    height: auto !important;
  }
  h2 {
    font-weight: 400;
    font-size: 2em;
    text-align: left;
    margin-top: 10px;
  }
  .location {
    text-align: left;
    margin-top: 10px;
  }
  .description {
    img {
      width: 100%;
      height: auto;
      margin: 10px 0;
    }
    a {
      text-decoration: none;
      color: $color-link-secondary;
      &:hover {
        color: $color-link-secondary-hover;
      }
    }
  }
}

:host /deep/ #image-slider-secondary {
  width: 100% !important;
  padding-left: 50px;
  padding-right: 50px;
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .container {
    .background_layer {
      background-color: #f7f7f7;
    }
    #popup-window {
      width: 100%;
      margin-left: 0 !important;
      font-size: 1em;
      border-radius: 0;
      margin-bottom: 0;
      margin-top: 0;
      .layouts-container {
        margin-top: 0px !important;
        border-radius: 0px !important;
        .default-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
          .content-container {
            background-color: white;
            width: 100%;
            border-radius: 0;
            padding: 20px 15px;
          }
        }
        .exit-popup-btn {
          display: none;
        }
        .event-layout {
          .header-image {
            min-height: 220px;
            max-height: 300px;
            .default-header {
              height: 200px;
            }
          }
          .content-container {
            width: 100%;
            padding: 0 20px;
            text-align: center;
            .description {
              width: 100%;
              text-align: left;
              margin-left: 0;
              margin-top: 0;
            }
            .time {
              font-size: 0.9em;
            }
            .date {
              width: 100%;
            }
          }
        }
        .association-layout {
          .header-image {
            min-height: 220px;
            max-height: 300px;
          }
          .content-container {
            padding: 40px 20px;
            .description,
            .contact {
              margin-left: 0;
            }
            .description {
              padding-right: 10px;
              padding-left: 10px;
              width: 100%;
            }
            .contact {
              width: 100%;
              padding: 10px;
            }
          }
        }
      }
    }
  }
  .exit-popup-btn-mobile {
    display: block;
    padding: 15px 20px;
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
  .container {
    .background_layer {
      background-color: #f7f7f7;
    }
    #popup-window {
      width: 100%;
      margin-left: 0 !important;
      font-size: 1em;
      border-radius: 0;
      margin-bottom: 0;
      margin-top: 0;
      .layouts-container {
        margin-top: 0px !important;
        border-radius: 0px !important;
        .default-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
          .content-container {
            width: 100%;
            border-radius: 0;
            padding: 30px 20px;
          }
        }
        .exit-popup-btn {
          display: none;
        }
        .event-layout {
          .header-image {
            min-height: 220px;
            max-height: 300px;
            .default-header {
              height: 200px;
            }
          }
          .content-container {
            width: 100%;
            text-align: center;
            .description {
              width: 100%;
              text-align: left;
              margin-left: 0;
              margin-top: 10px;
            }
            .date {
              width: 100%;
            }
          }
        }
        .association-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
          .content-container {
            padding: 20px;
            .description,
            .contact {
              margin-left: 0;
            }
            .description {
              padding-right: 10px;
              padding-left: 10px;
            }
            .contact {
              width: 38%;
              padding: 10px;
            }
          }
        }
      }
    }
  }
  .exit-popup-btn-mobile {
    display: block;
    padding: 15px 20px;
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .container {
    .background_layer {
      background-color: #f7f7f7;
    }
    #popup-window {
      width: 100%;
      margin-left: 0 !important;
      font-size: 0.9em;
      border-radius: 0;
      margin-bottom: 0;
      margin-top: 0;
      .layouts-container {
        margin-top: 0px !important;
        border-radius: 0px !important;
        .default-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
        }
        .exit-popup-btn {
          display: none;
        }
        .event-layout {
          .header-image {
            min-height: 220px;
            max-height: 300px;
            .default-header {
              height: 200px;
            }
          }
          .content-container {
            width: 100%;
            text-align: center;
            .description {
              width: 100%;
              text-align: left;
              margin-left: 0;
              margin-top: 10px;
            }
            .date {
              width: 100%;
            }
          }
        }
        .association-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
          .content-container {
            padding: 20px;
            .description,
            .contact {
              margin-left: 0;
            }
            .description {
              padding-right: 10px;
              padding-left: 10px;
            }
            .contact {
              width: 38%;
              padding: 10px;
            }
          }
        }
      }
    }
  }
  .exit-popup-btn-mobile {
    display: block;
    padding: 15px 20px;
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  .container {
    .background_layer {
      background-color: #f7f7f7;
    }
    #popup-window {
      width: 100%;
      margin-left: 0 !important;
      font-size: 0.9em;
      border-radius: 0;
      margin-bottom: 0;
      margin-top: 0;
      .layouts-container {
        margin-top: 0px !important;
        border-radius: 0px !important;
        .default-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
        }
        .exit-popup-btn {
          display: none;
        }
        .event-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
            .default-header {
              height: 200px;
            }
          }
          .content-container {
            text-align: center;
            .description {
              width: 100%;
              text-align: left;
              margin-left: 0;
              margin-top: 10px;
            }
            .date {
              width: 100%;
            }
          }
        }
        .association-layout {
          .header-image {
            min-height: 300px;
            max-height: 300px;
          }
          .content-container {
            padding: 20px;
            .description,
            .contact {
              margin-left: 0;
            }
            .description {
              padding-right: 10px;
              padding-left: 10px;
            }
            .contact {
              width: 38%;
              padding: 10px;
            }
          }
        }
      }
    }
  }
  .exit-popup-btn-mobile {
    display: block;
    padding: 15px 20px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
  .container {
    padding-top: 100px;
  }
}
