<div *ngIf="showPopupWindow" class="container">
  <div class="background_layer" (click)="hide_popup_window()"></div>
  <div id="popup-window">
    <div #layouts_container class="layouts-container">
      <app-loader *ngIf="loading"></app-loader>
      <!-- ---------- Page layout ---------- -->
      <div *ngIf="showPage && page_data && !loading" class="default-layout">
        <div class="detailsTopNav">
          <button
            (click)="hide_popup_window()"
            aria-label="Back"
            data-automation="goBack"
          >
            <i aria-hidden="true" class="material-icons icon">arrow_back</i>
          </button>
          <button
            (click)="hide_popup_window()"
            aria-label="Close"
            data-automation="closeModal"
          >
            <i aria-hidden="true" class="material-icons icon">close</i>
          </button>
        </div>
        <div class="header-image">
          <img
            *ngIf="page_data?.header.header_image"
            src="{{ page_data?.header.header_image }}"
            alt="Header image"
          />
          <div
            *ngIf="
              !page_data?.header.header_image && page_data?.header.header_color
            "
            class="header-color"
            [ngStyle]="{ backgroundColor: page_data?.header.header_color }"
          ></div>
          <div
            *ngIf="
              !page_data?.header.header_image && !page_data?.header.header_color
            "
            class="default-header"
          ></div>
        </div>
        <div class="content-container">
          <h2 [innerHTML]="page_data?.name"></h2>
          <p [innerHTML]="page_data?.content"></p>
          <app-image-gallery
            *ngIf="page_data?.image_gallery"
            [imageGallery]="page_data?.image_gallery"
          ></app-image-gallery>
          <app-text-gallery
            *ngIf="page_data?.text_gallery"
            [textGallery]="page_data?.text_gallery"
          ></app-text-gallery>
          <footer class="article-footer">
            <dl class="dl-horizontal dl-in-article-footer">
              <dt>Last modified</dt>
              <dd>
                <div>{{ formatDate_News(page_data.last_modifiled) }}</div>
              </dd>

              <dt>Responsible</dt>
              <dd>
                <a
                  href="mailto:{{ page_data.author.email }}"
                  class="ng-binding"
                  >{{ page_data.author.name }}</a
                >
              </dd>
            </dl>
          </footer>
        </div>
      </div>

      <!-- ---------- Event layout ---------- -->
      <div *ngIf="showEvent && !loading" class="event-layout">
        <div class="detailsTopNav">
          <button
            (click)="hide_popup_window()"
            aria-label="Back"
            data-automation="goBack"
          >
            <i aria-hidden="true" class="material-icons icon">arrow_back</i>
          </button>
          <button
            (click)="hide_popup_window()"
            aria-label="Close"
            data-automation="closeModal"
          >
            <i aria-hidden="true" class="material-icons icon">close</i>
          </button>
        </div>
        <div *ngIf="event?.imageUrl" class="header-image">
          <img src="{{ event?.imageUrl }}" alt="Header image" />
          <!--<div *ngIf="!event?.imageUrl"></div>-->
        </div>
        <div class="content-container">
          <h2 [innerHTML]="event?.title"></h2>
          <p class="location">{{ event?.location }}</p>
          <!--<div class="date">{{ getDate(event?.start) }}</div>-->
          <div class="description">
            <span class="time">{{ formatDate(event?.start, event?.end) }}</span>
            <br /><br /><label>
              <i
                class="material-icons"
                [ngStyle]="{ color: event.color.primary }"
                >fiber_manual_record</i
              >
              {{ event.calendarName }} </label
            ><br />
            <div *ngIf="event.meta.event.htmlLink">
              <a target="blank" href="{{ event?.meta?.event?.htmlLink }}">
                Add to Google Calendar</a
              >
            </div>
            <br />
            <div class="text">{{ event?.description }}</div>
            <p class="creator">Created by {{ event?.creator }}</p>
          </div>
        </div>
      </div>

      <!-- ---------- Associations layout ---------- -->
      <div *ngIf="showAssociation && !loading" class="association-layout">
        <div class="detailsTopNav">
          <button
            (click)="hide_popup_window()"
            aria-label="Back"
            data-automation="goBack"
          >
            <i aria-hidden="true" class="material-icons icon">arrow_back</i>
          </button>
          <button
            (click)="hide_popup_window()"
            aria-label="Close"
            data-automation="closeModal"
          >
            <i aria-hidden="true" class="material-icons icon">close</i>
          </button>
        </div>
        <div class="header-image">
          <app-header-slider
            *ngIf="association?.header_slides.length !== 0"
            [slides_items]="association.header_slides"
          ></app-header-slider>
          <!--<img *ngIf="association?.image" src="{{association?.image}}" alt="Header image">-->
          <div
            *ngIf="association?.header_slides.length === 0"
            class="default-header"
          ></div>
        </div>
        <div class="content-container">
          <div class="description">
            <h2 [innerHTML]="association?.title"></h2>
            <p [innerHTML]="association?.description"></p>
          </div>
          <div class="contact">
            <p>
              {{ association.contact?.title }} {{ association.contact?.name }}
            </p>
            <p>email: {{ association.contact?.email }}</p>
            <p>phone: {{ association.contact?.phone }}</p>
            <p>website: {{ association.contact?.website }}</p>
            <p>Alternative website: {{ association.contact?.website2 }}</p>
          </div>
          <app-image-slider-secondary
            *ngIf="relatedAssociations?.items.length != 0"
            [data]="relatedAssociations"
            [lang]="lang"
          ></app-image-slider-secondary>
        </div>
      </div>

      <!-- ---------- Archive layout ---------- -->
      <div *ngIf="showArchive && !loading" class="association-layout">
        <div class="detailsTopNav">
          <button
            (click)="hide_popup_window()"
            aria-label="Back"
            data-automation="goBack"
          >
            <i aria-hidden="true" class="material-icons icon">arrow_back</i>
          </button>
          <button
            (click)="hide_popup_window()"
            aria-label="Close"
            data-automation="closeModal"
          >
            <i aria-hidden="true" class="material-icons icon">close</i>
          </button>
        </div>
        <div class="content-container">
          <div class="description">
            <h2 [innerHTML]="archive?.title"></h2>
            <div class="categories">
              <span *ngFor="let c of archive?.categories">{{ c.name }}</span>
            </div>
            <p [innerHTML]="archive?.description"></p>
            <div class="files">
              <div *ngFor="let f of archive?.documents" class="link_container">
                <h5 class="download_link" (click)="downloadFile(f.url)">
                  {{ f.filename }}
                  <i class="material-icons">file_download</i>
                </h5>
              </div>
            </div>
          </div>
          <div class="contact">
            <p>
              Name: <span>{{ archive?.author.name }}</span>
            </p>
            <p>
              Published: <span>{{ archive?.published }}</span>
            </p>
            <p>
              Last modified: <span>{{ archive?.lastModified }}</span>
            </p>
          </div>
        </div>
      </div>

      <!-- ---------- FAQ layout ---------- -->
      <div *ngIf="showFaq && !loading" class="association-layout faq">
        <div class="detailsTopNav">
          <button
            (click)="hide_popup_window()"
            aria-label="Back"
            data-automation="goBack"
          >
            <i aria-hidden="true" class="material-icons icon">arrow_back</i>
          </button>
          <button
            (click)="hide_popup_window()"
            aria-label="Close"
            data-automation="closeModal"
          >
            <i aria-hidden="true" class="material-icons icon">close</i>
          </button>
        </div>
        <div class="content-container">
          <div class="description">
            <h2 [innerHTML]="faq?.question"></h2>
            <p [innerHTML]="faq?.answer"></p>
          </div>
        </div>
      </div>

      <!-- ---------- News layout ---------- -->
      <div *ngIf="showNews && !loading" class="association-layout">
        <div class="detailsTopNav">
          <button
            (click)="hide_popup_window()"
            aria-label="Back"
            data-automation="goBack"
          >
            <i aria-hidden="true" class="material-icons icon">arrow_back</i>
          </button>
          <button
            (click)="hide_popup_window()"
            aria-label="Close"
            data-automation="closeModal"
          >
            <i aria-hidden="true" class="material-icons icon">close</i>
          </button>
        </div>
        <div class="content-container">
          <div class="description">
            <h2 [innerHTML]="news?.title"></h2>
            <div class="label">
              <label *ngFor="let c of news?.categories">{{ c.name }} </label>
            </div>
            <p [innerHTML]="news?.content"></p>
          </div>
          <div class="contact">
            <p>
              name: <span>{{ news?.author.name }}</span>
            </p>
            <p>
              email:
              <a href="mailto:{{ news?.author.email }}" class="email">{{
                news?.author.email
              }}</a>
            </p>
            <p>
              last modified:
              <span>{{ formatDate_News(news?.last_modified) }}</span>
            </p>
          </div>
        </div>
      </div>

      <!-- ---------- Page not found ---------- -->
      <app-page-not-found *ngIf="show_page_not_found"></app-page-not-found>
    </div>
  </div>
</div>
