<app-header></app-header>

<div id="support">
  <div class="heading">
    <div class="title">
      <h2>{{lang === 'en' ? 'Frequestly Asked Questions' : 'Vanliga frågor'}}</h2>
      <span>{{lang === 'en' ? 'Read our frequestly asked questions for fast answers' : 'Läs våra vanliga frågor för snabba svar'}}</span>
    </div>
    <div class="search">
      <form (ngSubmit)="searchFAQs()" autocomplete="off">
        <label>
          <i class="material-icons" (click)="searchFAQs()">search</i>
        </label>
        <input #searchField type="search" placeholder="{{lang === 'en' ? 'Search FAQs' : 'Sök FAQs'}}" [(ngModel)]="searchTerm" name="searchInput" (focus)="onFocus()" (keyup)="searchFAQs()">
      </form>
    </div>
  </div>
  <div *ngIf="!show_single_view" class="content-container">
    <div class="featured-faqs">
      <div *ngFor="let item of most_asked_faqs" class="item">
        <h2>{{item.question}}</h2>
        <div>
          <p [innerHTML]="item.answer | cardText:100"></p>
          <span *ngIf="item.answer?.length > 100" (click)="showInPopup(item)">{{lang === 'en' ? 'Read more' : 'Läs mer'}}</span>
        </div>
      </div>
      <app-loader *ngIf="most_asked_faqs?.length === 0"></app-loader>
    </div>

    <div class="faqs-categories">
      <h2>{{lang === 'en' ? 'FAQ categories' : 'FAQ kategorier'}}</h2>
      <a *ngFor="let c of parent_categories" routerLink="{{c.slug}}" class="category">{{c.name}}</a>
      <app-loader *ngIf="parent_categories.length === 0"></app-loader>
    </div>
  </div>
  <div *ngIf="show_single_view" class="faqs-single-view">
    <div class="submenu">
      <label>{{lang === 'en' ? 'FAQ categories' : 'FAQ kategorier'}}</label>
      <div *ngFor="let c of parent_categories, let i = index" class="submenu-item" [ngClass]="{selected: i === selected_cat_index}" (click)="displayCategory(i)">{{c.name}}</div>
    </div>
    <div class="faqs-container">
      <div *ngIf="selected_category" class="selected_faqs">
        <h3>{{selected_category.name}}</h3>
        <div *ngIf="showFaqs">
          <div *ngFor="let submenu of faq_subMenus">
            <div *ngIf="submenu?.faqs.length !== 0" class="faq-section">
              <label>{{submenu.name}}</label>
              <div *ngFor="let faq of submenu.faqs">
                <div #faqElement class="faq submenu-faq" (click)="toggleAnswer(faqElement)">
                  <span>+</span>
                  <div class="question" [innerHTML]="faq.question"></div>
                  <div data-collapsed="true" class="answer" [innerHTML]="faq.answer"></div>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let faq of faqs">
            <div #faqElement class="faq" (click)="toggleAnswer(faqElement)">
              <span>+</span>
              <div class="question" [innerHTML]="faq.question"></div>
              <div data-collapsed="true" class="answer" [innerHTML]="faq.answer"></div>
            </div>
          </div>

          <div *ngIf="noResult" class="noItems">There are no FAQs regarding {{selected_category.name}}.</div>
        </div>
      </div>

      <div *ngIf="searchOnActive" class="search-results">
        <h3>{{lang === 'en' ? 'Search results of' : 'Sökresultat av'}} "{{searchTerm}}"</h3>
        <div *ngFor="let faq of search_results">
          <div #faqElement class="faq" (click)="toggleAnswer(faqElement)">
            <span>+</span>
            <div class="question" [innerHTML]="faq.question | markMatchedWords:searchTerm"></div>
            <div data-collapsed="true" class="answer" [innerHTML]="faq.answer | markMatchedWords:searchTerm"></div>
          </div>
        </div>
        <div *ngIf="noResult" class="noItems">No FAQs found matching "{{searchTerm}}"</div>
      </div>

      <div *ngIf="loading">Loading........</div>
      <div *ngIf="noInput" class="noInput">Please input a search term!</div>
    </div>
  </div>
</div>