<div
  #slides_container
  id="header-slider"
  (touchstart)="swipe($event, 'start', '')"
  (touchend)="swipe($event, 'end', '')"
>
  <div *ngFor="let item of slides_items" class="slide-wrapper">
    <div
      *ngIf="!item.video"
      class="slide"
      [style.backgroundImage]="'url(' + item.imageUrl + ')'"
    ></div>
    <div *ngIf="item.video" class="video-template" (click)="togglePlay()">
      <video
        #video_player
        [src]="item.video"
        preload="metadata"
        (pause)="pauseVideo()"
        (ended)="pauseVideo()"
      >
        <source src="{{ item.video }}" />
        Your browser does not support HTML5 video player.
      </video>
      <div class="video-controller">
        <i #playButton class="material-icons">play_circle_outline</i>
      </div>
    </div>
  </div>

  <div #slider_progress_bar class="slider-progress-bar">
    <div *ngIf="slides_items.length > 1">
      <div
        *ngFor="let item of slides_items; let i = index"
        class="bar-item"
        (click)="clickActualSlide(i)"
        [ngClass]="{ selected: slideIndex === i }"
      ></div>
    </div>
  </div>
</div>
