<div
  #slides_container
  id="header-slider"
  (touchstart)="swipe($event, 'start')"
  (touchend)="swipe($event, 'end')"
>
  <div *ngFor="let item of slides_items" class="slide-wrapper">
    <div
      class="slide"
      [style.backgroundImage]="'url(' + item.imageUrl + ')'"
    ></div>
  </div>

  <div #slider_progress_bar class="slider-progress-bar">
    <div *ngIf="slides_items.length > 1">
      <div
        *ngFor="let item of slides_items; let i = index"
        class="bar-item"
        (click)="clickActualSlide(i)"
        [ngClass]="{ selected: slideIndex === i }"
      ></div>
    </div>
  </div>
</div>
