<div id="chatbot">
  <div #chatFlowContainer class="chat_flow">
    <ol #chatFlowList>
      <li *ngFor="let i of responses, let index = index">
        <div class="response" *ngIf="i.type === 'response'">
          <div class="text">{{i.message}}</div>
          <div *ngIf="i.info && i.info !== ''" class="info">
            <span (click)="showInfo(index)">?</span>
            <div *ngIf="showedInfoIndex == index" class="info-text">
              {{i.info}}
            </div>
          </div>
        </div>
        <div class="user" *ngIf="i.type === 'user'">
          <div class="message">
            {{i.message}}
          </div>
        </div>
      </li>
    </ol>
    <div #resonsesContainer class="responses">
      <div *ngFor="let r of user_inputs, let i = index" class="res_item" (click)="addItemToChatFlow($event, i)">{{r.message}}</div>
    </div>
  </div>
</div>
