<div id="chatbot">
  <div #chatFlowContainer class="chat_flow">
    <ol #chatFlowList>
      <li *ngFor="let i of responses, let index = index">
        <div class="response" *ngIf="i.type === 'response'">
          <section class="text" [innerHTML]="(lang === 'en' ? i.message.en : i.message.sv) | keepHtml"></section>
          <div *ngIf="i.info && i.info !== ''" class="info">
            <span (click)="showInfo(index)">?</span>
            <div *ngIf="showedInfoIndex == index" class="info-text">
              {{(lang === 'en' ? i.info.en : i.info.sv)}}
            </div>
          </div>
        </div>
        <div class="user" *ngIf="i.type === 'user'">
          <div class="message">
            {{(lang === 'en' ? i.message.en : i.message.sv)}}
          </div>
        </div>
      </li>
    </ol>
    <div #resonsesContainer class="responses">
      <div *ngFor="let r of user_inputs, let i = index" class="res_item" (click)="addItemToChatFlow($event, i)">{{(lang === 'en' ? r.message.en : r.message.sv)}}</div>
    </div>
    <div *ngIf="responses.length > 1" class="reset-btn" (click)="resetChatbot()">{{(lang === 'en' ? 'Restart' : 'Starta om')}}</div>
  </div>
</div>
